.popup-link(data-popup="#paymentMethod") balances
.popup-link(data-popup="#buyProxy") balances
.popup-link(data-popup="#entrance") войти
.popup-link(data-popup="#registration") регистрация
.popup-link(data-popup="#password-recovery") востановление
.popup-link(data-popup="#password-recovery2") востановление2
.popup-link(data-popup="#refMany") вывод средств
.popup-link(data-popup="#two-factor") двухфакторка


#popup.popup.partners(aria-hidden='true')
    .popup__wrapper
        .popup__content.partners-content
            button.popup__close(data-close, type='button')
                svg(width='15', height='15', viewbox='0 0 15 15', fill='none', xmlns='http://www.w3.org/2000/svg')
                    g(opacity='0.5')
                        path(d='M8.50698 7.50027L14.4284 1.57884C14.5454 1.4422 14.6066 1.26643 14.5996 1.08666C14.5927 0.906894 14.5182 0.736366 14.391 0.609156C14.2637 0.481945 14.0932 0.407422 13.9135 0.400478C13.7337 0.393534 13.5579 0.454682 13.4213 0.571701L7.49984 6.49313L1.57841 0.564558C1.44391 0.430055 1.26149 0.354492 1.07127 0.354492C0.881054 0.354492 0.69863 0.430055 0.564127 0.564558C0.429624 0.69906 0.354062 0.881485 0.354062 1.0717C0.354062 1.26192 0.429624 1.44434 0.564127 1.57884L6.4927 7.50027L0.564127 13.4217C0.489354 13.4857 0.428626 13.5645 0.385752 13.6531C0.342878 13.7418 0.318785 13.8383 0.314985 13.9367C0.311186 14.035 0.327761 14.1331 0.363672 14.2248C0.399582 14.3164 0.454052 14.3997 0.523663 14.4693C0.593273 14.5389 0.676521 14.5934 0.768182 14.6293C0.859843 14.6652 0.957937 14.6818 1.05631 14.678C1.15468 14.6742 1.2512 14.6501 1.33982 14.6072C1.42844 14.5643 1.50724 14.5036 1.57127 14.4288L7.49984 8.50741L13.4213 14.4288C13.5579 14.5459 13.7337 14.607 13.9135 14.6001C14.0932 14.5931 14.2637 14.5186 14.391 14.3914C14.5182 14.2642 14.5927 14.0936 14.5996 13.9139C14.6066 13.7341 14.5454 13.5583 14.4284 13.4217L8.50698 7.50027Z', fill='black')

            .popup__body.partners__body
                .partners__title Купить прокси
                .partners__description Пожалуйста, заполните все поля ниже
                form.partners__form(action="#" id="form2" autocomplete="off" method="post")
                    .wr
                        label(for='name') Ваше имя
                        input.input#name(placeholder='Иван' required)
                    .wr
                        label(for='email') Ваш e-mail*
                        input.input#email(placeholder='Name@mail.ru' required)
                    .wr
                        label(for='telegram') Телеграм*
                        input.input#telegram(placeholder='Номер или @юзернейм' required)


                    button.button-r.partners__btn(type="submit") отправить заявку

#buyProxy.popup.buyProxy(aria-hidden='true')
    .popup__wrapper
        .popup__content.buyProxy-content
            button.popup__close(data-close, type='button')
                svg(width='15', height='15', viewbox='0 0 15 15', fill='none', xmlns='http://www.w3.org/2000/svg')
                    g(opacity='0.5')
                        path(d='M8.50698 7.50027L14.4284 1.57884C14.5454 1.4422 14.6066 1.26643 14.5996 1.08666C14.5927 0.906894 14.5182 0.736366 14.391 0.609156C14.2637 0.481945 14.0932 0.407422 13.9135 0.400478C13.7337 0.393534 13.5579 0.454682 13.4213 0.571701L7.49984 6.49313L1.57841 0.564558C1.44391 0.430055 1.26149 0.354492 1.07127 0.354492C0.881054 0.354492 0.69863 0.430055 0.564127 0.564558C0.429624 0.69906 0.354062 0.881485 0.354062 1.0717C0.354062 1.26192 0.429624 1.44434 0.564127 1.57884L6.4927 7.50027L0.564127 13.4217C0.489354 13.4857 0.428626 13.5645 0.385752 13.6531C0.342878 13.7418 0.318785 13.8383 0.314985 13.9367C0.311186 14.035 0.327761 14.1331 0.363672 14.2248C0.399582 14.3164 0.454052 14.3997 0.523663 14.4693C0.593273 14.5389 0.676521 14.5934 0.768182 14.6293C0.859843 14.6652 0.957937 14.6818 1.05631 14.678C1.15468 14.6742 1.2512 14.6501 1.33982 14.6072C1.42844 14.5643 1.50724 14.5036 1.57127 14.4288L7.49984 8.50741L13.4213 14.4288C13.5579 14.5459 13.7337 14.607 13.9135 14.6001C14.0932 14.5931 14.2637 14.5186 14.391 14.3914C14.5182 14.2642 14.5927 14.0936 14.5996 13.9139C14.6066 13.7341 14.5454 13.5583 14.4284 13.4217L8.50698 7.50027Z', fill='black')

            .popup__body.buyProxy__body
                .buyProxy__title Купить мобильные прокси

                form.buyProxy__form.buyProxy-form(action="#" id="buyProxy__form" autocomplete="off" method="post")
                    .buyProxy-form__radio
                        p 1. Выберите тип прокси
                        .buyProxy-form__radio-body
                            input(id="by_services" type='radio' name='typeProxy' value='По сервисам' checked)
                            label(for="by_services") По сервисам
                            input(id="with_expectation" type='radio' name='typeProxy' value='С ожиданием')
                            label(for="with_expectation") С ожиданием
                            input(id="without_waiting" type='radio' name='typeProxy' value='Без ожидания')
                            label(for="without_waiting") Без ожидания
                    .buyProxy-form__select-tuo
                        p 2.  Выберите сервис
                        select.arrow-o
                            option(selected) 1
                            option 2
                            option 3
                            option(data-class='disabled') 4

                        p Ротацию
                        select.arrow-o
                            option 5 минут
                            option 10 минут
                            option(selected) 15 минут

                    .buyProxy-form__select-three
                        p 3.  Выберите страну
                        select.arrow-o
                            option(selected) 1
                            option 2
                            option 3
                            option(data-class='disabled') 4
                        p Город
                        select.arrow-o
                            option 5 минут
                            option 10 минут
                            option(selected) 15 минут
                        p Оператора
                        select.arrow-o
                            option 5 минут
                            option 10 минут
                            option(selected) 15 минут

                    .buyProxy-form__radio
                        p 4.  Выберите тип подключения
                        .buyProxy-form__radio-body
                            input(id="HTTP" type='radio' name='typeProxyСonnection' value='HTTP' checked)
                            label(for="HTTP") HTTP
                            input(id="SOCKS5" type='radio' name='typeProxyСonnection' value='SOCKS5')
                            label(for="SOCKS5") SOCKS5

                    .buyProxy-form__select-tuo
                        p 5.  Укажите период работы
                        select.arrow-o
                            option(selected) 1
                            option 2
                            option 3
                            option(data-class='disabled') 4
                        p
                        select.arrow-o
                            option 5 минут
                            option 10 минут
                            option(selected) 15 минут
                    .buyProxy-form__botton
                        .buyProxy-form__result Итого: <span>150 Р</span>
                        button.button-o.buyProxy__btn(type="submit") отправить заявку

#paymentMethod.popup.paymentMethod(aria-hidden='true')
    .popup__wrapper
        .popup__content.paymentMethod-content
            button.popup__close(data-close, type='button')
                svg(width='15', height='15', viewbox='0 0 15 15', fill='none', xmlns='http://www.w3.org/2000/svg')
                    g(opacity='0.5')
                        path(d='M8.50698 7.50027L14.4284 1.57884C14.5454 1.4422 14.6066 1.26643 14.5996 1.08666C14.5927 0.906894 14.5182 0.736366 14.391 0.609156C14.2637 0.481945 14.0932 0.407422 13.9135 0.400478C13.7337 0.393534 13.5579 0.454682 13.4213 0.571701L7.49984 6.49313L1.57841 0.564558C1.44391 0.430055 1.26149 0.354492 1.07127 0.354492C0.881054 0.354492 0.69863 0.430055 0.564127 0.564558C0.429624 0.69906 0.354062 0.881485 0.354062 1.0717C0.354062 1.26192 0.429624 1.44434 0.564127 1.57884L6.4927 7.50027L0.564127 13.4217C0.489354 13.4857 0.428626 13.5645 0.385752 13.6531C0.342878 13.7418 0.318785 13.8383 0.314985 13.9367C0.311186 14.035 0.327761 14.1331 0.363672 14.2248C0.399582 14.3164 0.454052 14.3997 0.523663 14.4693C0.593273 14.5389 0.676521 14.5934 0.768182 14.6293C0.859843 14.6652 0.957937 14.6818 1.05631 14.678C1.15468 14.6742 1.2512 14.6501 1.33982 14.6072C1.42844 14.5643 1.50724 14.5036 1.57127 14.4288L7.49984 8.50741L13.4213 14.4288C13.5579 14.5459 13.7337 14.607 13.9135 14.6001C14.0932 14.5931 14.2637 14.5186 14.391 14.3914C14.5182 14.2642 14.5927 14.0936 14.5996 13.9139C14.6066 13.7341 14.5454 13.5583 14.4284 13.4217L8.50698 7.50027Z', fill='black')

            .popup__body.paymentMethod__body
                form.paymentMethod__form.paymentMethod-form(action="#" id="paymentMethod__form" autocomplete="off" method="post")
                    .paymentMethod-form__left
                        .paymentMethod-form__title Способы пополнения
                        .paymentMethod-form__search
                            input(placeholder='Поиск')
                            button(type="submit")
                                svg(width='24', height='24', viewbox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(id='icon/action/search_24px', fill-rule='evenodd', clip-rule='evenodd', d='M14.9649 14.255H15.7549L20.7449 19.255L19.2549 20.745L14.2549 15.755V14.965L13.9849 14.685C12.8449 15.665 11.3649 16.255 9.75488 16.255C6.16488 16.255 3.25488 13.345 3.25488 9.755C3.25488 6.165 6.16488 3.255 9.75488 3.255C13.3449 3.255 16.2549 6.165 16.2549 9.755C16.2549 11.365 15.6649 12.845 14.6849 13.985L14.9649 14.255ZM5.25488 9.755C5.25488 12.245 7.26488 14.255 9.75488 14.255C12.2449 14.255 14.2549 12.245 14.2549 9.755C14.2549 7.26501 12.2449 5.255 9.75488 5.255C7.26488 5.255 5.25488 7.26501 5.25488 9.755Z', fill='white')

                        .paymentMethod-form__filter
                            button.active Все
                            button Stripe
                            button Qiwi
                            button Банковские карты
                            button Электронные кошельки
                            button Банковские переводы
                            button Криптовалюта
                        .paymentMethod-form__service(data-simplebar)
                            +modalTypesPayment
                            +modalTypesPayment
                            +modalTypesPayment
                            +modalTypesPayment
                            +modalTypesPayment
                            +modalTypesPayment
                            +modalTypesPayment
                            +modalTypesPayment
                            +modalTypesPayment
                            +modalTypesPayment


                    .paymentMethod-form__right
                        .paymentMethod-form__top
                            .paymentMethod-form__title Пополнить баланс
                            .paymentMethod-form__id ID:845621458
                        h5 Пополнение с помощью Qiwi
                        p Принимаем оплату <b>ТОЛЬКО</b> в рублях. Платежи, сделанные напрямую/в обход формы оплаты на сайте, зачислены не будут. Прямое зачисление на кошелек. Комиссия 6%
                        br
                        p Минимальная сумма оплаты - 10 руб.
                        .paymentMethod-form__input
                            label(for='price') Укажите сумму пополнения
                            input#price(placeholder='500').paymentMethod-form__price
                            span ₽ $ ₣ €

                        .paymentMethod-form__result Итого к оплате:
                        .paymentMethod-form__number 5 000 531.91 Р
                        button.button-o.paymentMethod-form__btn(type="submit") отправить заявку

#entrance.popup.entrance(aria-hidden='true')
    .popup__wrapper
        .popup__content.entrance-content(style="background-image: url('./img/svg/fon.svg');")
            button.popup__close(data-close, type='button')
                svg(width='15', height='15', viewbox='0 0 15 15', fill='none', xmlns='http://www.w3.org/2000/svg')
                    g(opacity='0.5')
                        path(d='M8.50698 7.50027L14.4284 1.57884C14.5454 1.4422 14.6066 1.26643 14.5996 1.08666C14.5927 0.906894 14.5182 0.736366 14.391 0.609156C14.2637 0.481945 14.0932 0.407422 13.9135 0.400478C13.7337 0.393534 13.5579 0.454682 13.4213 0.571701L7.49984 6.49313L1.57841 0.564558C1.44391 0.430055 1.26149 0.354492 1.07127 0.354492C0.881054 0.354492 0.69863 0.430055 0.564127 0.564558C0.429624 0.69906 0.354062 0.881485 0.354062 1.0717C0.354062 1.26192 0.429624 1.44434 0.564127 1.57884L6.4927 7.50027L0.564127 13.4217C0.489354 13.4857 0.428626 13.5645 0.385752 13.6531C0.342878 13.7418 0.318785 13.8383 0.314985 13.9367C0.311186 14.035 0.327761 14.1331 0.363672 14.2248C0.399582 14.3164 0.454052 14.3997 0.523663 14.4693C0.593273 14.5389 0.676521 14.5934 0.768182 14.6293C0.859843 14.6652 0.957937 14.6818 1.05631 14.678C1.15468 14.6742 1.2512 14.6501 1.33982 14.6072C1.42844 14.5643 1.50724 14.5036 1.57127 14.4288L7.49984 8.50741L13.4213 14.4288C13.5579 14.5459 13.7337 14.607 13.9135 14.6001C14.0932 14.5931 14.2637 14.5186 14.391 14.3914C14.5182 14.2642 14.5927 14.0936 14.5996 13.9139C14.6066 13.7341 14.5454 13.5583 14.4284 13.4217L8.50698 7.50027Z', fill='white')

            .popup__body.entrance__body
                .entrance__title Вход

                form.entrance__form(action="#entrance-form" id="" autocomplete="off" method="post")
                    span.input.input--hoshi
                        svg.ic-inp(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M4 3.78947C4 5.87874 5.79467 7.57895 8 7.57895C10.2053 7.57895 12 5.87874 12 3.78947C12 1.70021 10.2053 0 8 0C5.79467 0 4 1.70021 4 3.78947ZM15.1111 16H16V15.1579C16 11.9082 13.208 9.26316 9.77778 9.26316H6.22222C2.79111 9.26316 0 11.9082 0 15.1579V16H15.1111Z', fill='white')

                        input#mail.input__field.input__field--hoshi(type='text')
                        label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='mail')
                            span.input__label-content.input__label-content--hoshi @mail

                    span.input.input--hoshi.input-pass
                        svg.ic-inp(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M14 8C14 7.1176 13.3273 6.4 12.5 6.4H11.75V4C11.75 1.7944 10.0677 0 8 0C5.93225 0 4.25 1.7944 4.25 4V6.4H3.5C2.67275 6.4 2 7.1176 2 8V14.4C2 15.2824 2.67275 16 3.5 16H12.5C13.3273 16 14 15.2824 14 14.4V8ZM5.75 4C5.75 2.6768 6.7595 1.6 8 1.6C9.2405 1.6 10.25 2.6768 10.25 4V6.4H5.75V4Z', fill='white')

                        input#pas.input__field.input__field--hoshi(type='password')
                        label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='pas')
                            span.input__label-content.input__label-content--hoshi password
                        button.eyes
                            svg.open(width='16', height='12', viewbox='0 0 16 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M4.65111 3.35995C3.64375 4.1426 2.83753 5.08738 2.35791 5.71349L2.35516 5.71707L2.35515 5.71706C2.29227 5.79801 2.25814 5.89758 2.25814 6.00008C2.25814 6.10258 2.29227 6.20215 2.35515 6.2831L2.35792 6.28666L2.35791 6.28667C2.83753 6.91278 3.64375 7.85756 4.65111 8.64021C5.66598 9.4287 6.81704 10.0001 8.00001 10.0001C9.18298 10.0001 10.334 9.4287 11.3489 8.64021C12.3459 7.86558 13.1459 6.93213 13.6273 6.30602C13.6596 6.2536 13.7093 6.14398 13.7236 6.02201C13.7325 5.94594 13.727 5.87851 13.7028 5.81625C13.6872 5.78054 13.6669 5.74595 13.6419 5.71317C13.1622 5.08706 12.3561 4.14246 11.3489 3.35995C10.334 2.57146 9.18298 2.00008 8.00001 2.00008C6.81704 2.00008 5.66598 2.57146 4.65111 3.35995ZM14.9429 5.32555C14.8863 5.18167 14.8066 5.03814 14.6982 4.8996C14.1822 4.22628 13.2977 3.18556 12.1669 2.30705C11.042 1.43303 9.60504 0.666748 8.00001 0.666748C6.39498 0.666748 4.95804 1.43303 3.83308 2.30705C2.7015 3.1862 1.81656 4.22779 1.30067 4.90106C1.05704 5.21559 0.924805 5.60218 0.924805 6.00008C0.924805 6.39797 1.05703 6.78455 1.30065 7.09907C1.81654 7.77235 2.70149 8.81395 3.83308 9.69312C4.95804 10.5671 6.39498 11.3334 8.00001 11.3334C9.60504 11.3334 11.042 10.5671 12.1669 9.69312C13.2994 8.81326 14.1849 7.77072 14.7006 7.09749L14.7006 7.0974C15.0986 6.57766 15.1791 5.90671 14.9429 5.32555Z', fill='white')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M7.9998 4.66675C7.26342 4.66675 6.66646 5.2637 6.66646 6.00008C6.66646 6.73646 7.26342 7.33341 7.9998 7.33341C8.73618 7.33341 9.33313 6.73646 9.33313 6.00008C9.33313 5.2637 8.73618 4.66675 7.9998 4.66675ZM5.33313 6.00008C5.33313 4.52732 6.52704 3.33341 7.9998 3.33341C9.47256 3.33341 10.6665 4.52732 10.6665 6.00008C10.6665 7.47284 9.47256 8.66675 7.9998 8.66675C6.52704 8.66675 5.33313 7.47284 5.33313 6.00008Z', fill='white')

                            svg.close(width='16', height='12', viewbox='0 0 16 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M4.65119 3.35987C3.64383 4.14252 2.83761 5.08731 2.35799 5.71341L2.35528 5.71695L2.35527 5.71694C2.29231 5.798 2.25814 5.89771 2.25814 6.00034C2.25814 6.10297 2.29231 6.20268 2.35527 6.28373L2.35782 6.28702L2.35781 6.28703C2.88949 6.98047 3.81575 8.05759 4.96805 8.87576C5.26826 9.08891 5.33883 9.50508 5.12567 9.80529C4.91251 10.1055 4.49634 10.1761 4.19613 9.96292C2.8893 9.03504 1.86939 7.84114 1.30084 7.0998C1.0571 6.78515 0.924805 6.3984 0.924805 6.00034C0.924805 5.60234 1.05706 5.21564 1.30073 4.90102C1.81662 4.22774 2.70157 3.18613 3.83316 2.30697C4.95812 1.43295 6.39506 0.666672 8.00009 0.666672C9.44164 0.666672 10.7456 1.28473 11.8065 2.03943C12.1065 2.25284 12.1768 2.66907 11.9633 2.9691C11.7499 3.26913 11.3337 3.33934 11.0337 3.12592C10.0946 2.45795 9.05987 2.00001 8.00009 2.00001C6.81712 2.00001 5.66606 2.57139 4.65119 3.35987Z', fill='white')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M6.979 3.52794C7.30451 3.39393 7.65334 3.3257 8.00535 3.32717C8.35737 3.32865 8.70561 3.3998 9.02999 3.53654C9.35437 3.67327 9.64846 3.87288 9.89531 4.12384C10.1535 4.38633 10.15 4.80843 9.88752 5.06662C9.62503 5.32481 9.20294 5.32132 8.94475 5.05883C8.82132 4.93335 8.67427 4.83354 8.51208 4.76518C8.3499 4.69681 8.17577 4.66123 7.99977 4.66049C7.82376 4.65976 7.64935 4.69387 7.48659 4.76088C7.32383 4.82789 7.17596 4.92645 7.05148 5.0509C6.92701 5.17534 6.82841 5.32319 6.76137 5.48593C6.69432 5.64867 6.66016 5.82308 6.66086 5.99909C6.66155 6.17509 6.69709 6.34922 6.76542 6.51143C6.83375 6.67363 6.93352 6.82071 7.05897 6.94416C7.3214 7.20241 7.32479 7.62451 7.06653 7.88694C6.80828 8.14937 6.38619 8.15276 6.12376 7.89451C5.87285 7.6476 5.67332 7.35345 5.53666 7.02904C5.4 6.70463 5.32893 6.35637 5.32754 6.00436C5.32614 5.65234 5.39446 5.30353 5.52855 4.97805C5.66264 4.65257 5.85984 4.35686 6.10879 4.10798C6.35773 3.85909 6.65349 3.66196 6.979 3.52794Z', fill='white')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M13.8047 0.195262C14.0651 0.455612 14.0651 0.877722 13.8047 1.13807L3.13807 11.8047C2.87772 12.0651 2.45561 12.0651 2.19526 11.8047C1.93491 11.5444 1.93491 11.1223 2.19526 10.8619L12.8619 0.195262C13.1223 -0.0650874 13.5444 -0.0650874 13.8047 0.195262Z', fill='white')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M12.5843 3.51989C12.8495 3.26444 13.2715 3.2723 13.5269 3.53745C13.9428 3.96909 14.334 4.42381 14.6987 4.89945C14.9426 5.21406 15.075 5.60079 15.0752 5.99889C15.0754 6.39708 14.9433 6.78401 14.6996 7.09888C14.1837 7.77215 13.2988 8.81382 12.1671 9.69303C11.0421 10.567 9.60521 11.3333 8.00017 11.3333H7.99714V11.3333C7.48219 11.331 6.9702 11.2552 6.47665 11.1083C6.12376 11.0032 5.92284 10.632 6.02788 10.2791C6.13292 9.92625 6.50415 9.72533 6.85704 9.83037C7.2286 9.94097 7.61401 9.99809 8.00167 10C9.18411 9.99952 10.3346 9.42828 11.3491 8.64013C12.3564 7.85748 13.1627 6.91269 13.6423 6.28659L13.6448 6.28336C13.7078 6.20216 13.7419 6.1023 13.7419 5.99954C13.7418 5.89677 13.7076 5.79695 13.6445 5.71581L13.6417 5.71225L13.6417 5.71224C13.3072 5.2758 12.9483 4.85857 12.5667 4.46254C12.3113 4.19738 12.3191 3.77535 12.5843 3.51989Z', fill='white')



                    button.button-o.entrance__btn(type="submit") отправить заявку
                    a(href="#").entrance__stupid Забыли пароль?
                    p.entrance__noAccount Нет аккаунта? <a href="#">Зарегистрироваться</a>

                    p.entrance__tel Или войдите с помощью
                    a(href='#').entrance__ic-tel
                        svg(width='28', height='28', viewbox='0 0 28 28', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M14 0C6.26795 0 0 6.26795 0 14C0 21.732 6.26795 28 14 28C21.732 28 28 21.732 28 14C28 6.26795 21.732 0 14 0Z', fill='#40B3E0')
                            path(d='M20.812 8.05336L18.3113 20.6609C18.3113 20.6609 17.9616 21.5352 16.9999 21.1156L11.2295 16.6916L9.13126 15.6775L5.5991 14.4883C5.5991 14.4883 5.05704 14.296 5.00454 13.8764C4.95204 13.4567 5.6166 13.2294 5.6166 13.2294L19.6577 7.7213C19.6577 7.7213 20.8118 7.21423 20.8118 8.05358', fill='white')
                            path(d='M10.7864 20.5182C10.7864 20.5182 10.618 20.5024 10.408 19.8378C10.1983 19.1734 9.13159 15.6762 9.13159 15.6762L17.6123 10.2906C17.6123 10.2906 18.102 9.99332 18.0845 10.2906C18.0845 10.2906 18.1719 10.3431 17.9095 10.5879C17.6473 10.8328 11.2475 16.5856 11.2475 16.5856', fill='#D2E5F1')
                            path(d='M13.4425 18.3865L11.1601 20.4674C11.1601 20.4674 10.9816 20.6028 10.7865 20.518L11.2236 16.6526', fill='#B5CFE4')

#registration.popup.entrance(aria-hidden='true')
    .popup__wrapper
        .popup__content.entrance-content(style="background-image: url('./img/svg/fon.svg');")
            button.popup__close(data-close, type='button')
                svg(width='15', height='15', viewbox='0 0 15 15', fill='none', xmlns='http://www.w3.org/2000/svg')
                    g(opacity='0.5')
                        path(d='M8.50698 7.50027L14.4284 1.57884C14.5454 1.4422 14.6066 1.26643 14.5996 1.08666C14.5927 0.906894 14.5182 0.736366 14.391 0.609156C14.2637 0.481945 14.0932 0.407422 13.9135 0.400478C13.7337 0.393534 13.5579 0.454682 13.4213 0.571701L7.49984 6.49313L1.57841 0.564558C1.44391 0.430055 1.26149 0.354492 1.07127 0.354492C0.881054 0.354492 0.69863 0.430055 0.564127 0.564558C0.429624 0.69906 0.354062 0.881485 0.354062 1.0717C0.354062 1.26192 0.429624 1.44434 0.564127 1.57884L6.4927 7.50027L0.564127 13.4217C0.489354 13.4857 0.428626 13.5645 0.385752 13.6531C0.342878 13.7418 0.318785 13.8383 0.314985 13.9367C0.311186 14.035 0.327761 14.1331 0.363672 14.2248C0.399582 14.3164 0.454052 14.3997 0.523663 14.4693C0.593273 14.5389 0.676521 14.5934 0.768182 14.6293C0.859843 14.6652 0.957937 14.6818 1.05631 14.678C1.15468 14.6742 1.2512 14.6501 1.33982 14.6072C1.42844 14.5643 1.50724 14.5036 1.57127 14.4288L7.49984 8.50741L13.4213 14.4288C13.5579 14.5459 13.7337 14.607 13.9135 14.6001C14.0932 14.5931 14.2637 14.5186 14.391 14.3914C14.5182 14.2642 14.5927 14.0936 14.5996 13.9139C14.6066 13.7341 14.5454 13.5583 14.4284 13.4217L8.50698 7.50027Z', fill='white')

            .popup__body.entrance__body
                .entrance__title Регистрация

                form.entrance__form(action="#entrance-form" id="" autocomplete="off" method="post")
                    span.input.input--hoshi
                        svg.ic-inp(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M4 3.78947C4 5.87874 5.79467 7.57895 8 7.57895C10.2053 7.57895 12 5.87874 12 3.78947C12 1.70021 10.2053 0 8 0C5.79467 0 4 1.70021 4 3.78947ZM15.1111 16H16V15.1579C16 11.9082 13.208 9.26316 9.77778 9.26316H6.22222C2.79111 9.26316 0 11.9082 0 15.1579V16H15.1111Z', fill='white')

                        input#mail.input__field.input__field--hoshi(type='text')
                        label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='mail')
                            span.input__label-content.input__label-content--hoshi @mail

                    span.input.input--hoshi.input-pass
                        svg.ic-inp(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M14 8C14 7.1176 13.3273 6.4 12.5 6.4H11.75V4C11.75 1.7944 10.0677 0 8 0C5.93225 0 4.25 1.7944 4.25 4V6.4H3.5C2.67275 6.4 2 7.1176 2 8V14.4C2 15.2824 2.67275 16 3.5 16H12.5C13.3273 16 14 15.2824 14 14.4V8ZM5.75 4C5.75 2.6768 6.7595 1.6 8 1.6C9.2405 1.6 10.25 2.6768 10.25 4V6.4H5.75V4Z', fill='white')

                        input#pas.input__field.input__field--hoshi(type='password')
                        label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='pas')
                            span.input__label-content.input__label-content--hoshi password
                        button.eyes
                            svg.open(width='16', height='12', viewbox='0 0 16 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M4.65111 3.35995C3.64375 4.1426 2.83753 5.08738 2.35791 5.71349L2.35516 5.71707L2.35515 5.71706C2.29227 5.79801 2.25814 5.89758 2.25814 6.00008C2.25814 6.10258 2.29227 6.20215 2.35515 6.2831L2.35792 6.28666L2.35791 6.28667C2.83753 6.91278 3.64375 7.85756 4.65111 8.64021C5.66598 9.4287 6.81704 10.0001 8.00001 10.0001C9.18298 10.0001 10.334 9.4287 11.3489 8.64021C12.3459 7.86558 13.1459 6.93213 13.6273 6.30602C13.6596 6.2536 13.7093 6.14398 13.7236 6.02201C13.7325 5.94594 13.727 5.87851 13.7028 5.81625C13.6872 5.78054 13.6669 5.74595 13.6419 5.71317C13.1622 5.08706 12.3561 4.14246 11.3489 3.35995C10.334 2.57146 9.18298 2.00008 8.00001 2.00008C6.81704 2.00008 5.66598 2.57146 4.65111 3.35995ZM14.9429 5.32555C14.8863 5.18167 14.8066 5.03814 14.6982 4.8996C14.1822 4.22628 13.2977 3.18556 12.1669 2.30705C11.042 1.43303 9.60504 0.666748 8.00001 0.666748C6.39498 0.666748 4.95804 1.43303 3.83308 2.30705C2.7015 3.1862 1.81656 4.22779 1.30067 4.90106C1.05704 5.21559 0.924805 5.60218 0.924805 6.00008C0.924805 6.39797 1.05703 6.78455 1.30065 7.09907C1.81654 7.77235 2.70149 8.81395 3.83308 9.69312C4.95804 10.5671 6.39498 11.3334 8.00001 11.3334C9.60504 11.3334 11.042 10.5671 12.1669 9.69312C13.2994 8.81326 14.1849 7.77072 14.7006 7.09749L14.7006 7.0974C15.0986 6.57766 15.1791 5.90671 14.9429 5.32555Z', fill='white')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M7.9998 4.66675C7.26342 4.66675 6.66646 5.2637 6.66646 6.00008C6.66646 6.73646 7.26342 7.33341 7.9998 7.33341C8.73618 7.33341 9.33313 6.73646 9.33313 6.00008C9.33313 5.2637 8.73618 4.66675 7.9998 4.66675ZM5.33313 6.00008C5.33313 4.52732 6.52704 3.33341 7.9998 3.33341C9.47256 3.33341 10.6665 4.52732 10.6665 6.00008C10.6665 7.47284 9.47256 8.66675 7.9998 8.66675C6.52704 8.66675 5.33313 7.47284 5.33313 6.00008Z', fill='white')

                            svg.close(width='16', height='12', viewbox='0 0 16 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M4.65119 3.35987C3.64383 4.14252 2.83761 5.08731 2.35799 5.71341L2.35528 5.71695L2.35527 5.71694C2.29231 5.798 2.25814 5.89771 2.25814 6.00034C2.25814 6.10297 2.29231 6.20268 2.35527 6.28373L2.35782 6.28702L2.35781 6.28703C2.88949 6.98047 3.81575 8.05759 4.96805 8.87576C5.26826 9.08891 5.33883 9.50508 5.12567 9.80529C4.91251 10.1055 4.49634 10.1761 4.19613 9.96292C2.8893 9.03504 1.86939 7.84114 1.30084 7.0998C1.0571 6.78515 0.924805 6.3984 0.924805 6.00034C0.924805 5.60234 1.05706 5.21564 1.30073 4.90102C1.81662 4.22774 2.70157 3.18613 3.83316 2.30697C4.95812 1.43295 6.39506 0.666672 8.00009 0.666672C9.44164 0.666672 10.7456 1.28473 11.8065 2.03943C12.1065 2.25284 12.1768 2.66907 11.9633 2.9691C11.7499 3.26913 11.3337 3.33934 11.0337 3.12592C10.0946 2.45795 9.05987 2.00001 8.00009 2.00001C6.81712 2.00001 5.66606 2.57139 4.65119 3.35987Z', fill='white')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M6.979 3.52794C7.30451 3.39393 7.65334 3.3257 8.00535 3.32717C8.35737 3.32865 8.70561 3.3998 9.02999 3.53654C9.35437 3.67327 9.64846 3.87288 9.89531 4.12384C10.1535 4.38633 10.15 4.80843 9.88752 5.06662C9.62503 5.32481 9.20294 5.32132 8.94475 5.05883C8.82132 4.93335 8.67427 4.83354 8.51208 4.76518C8.3499 4.69681 8.17577 4.66123 7.99977 4.66049C7.82376 4.65976 7.64935 4.69387 7.48659 4.76088C7.32383 4.82789 7.17596 4.92645 7.05148 5.0509C6.92701 5.17534 6.82841 5.32319 6.76137 5.48593C6.69432 5.64867 6.66016 5.82308 6.66086 5.99909C6.66155 6.17509 6.69709 6.34922 6.76542 6.51143C6.83375 6.67363 6.93352 6.82071 7.05897 6.94416C7.3214 7.20241 7.32479 7.62451 7.06653 7.88694C6.80828 8.14937 6.38619 8.15276 6.12376 7.89451C5.87285 7.6476 5.67332 7.35345 5.53666 7.02904C5.4 6.70463 5.32893 6.35637 5.32754 6.00436C5.32614 5.65234 5.39446 5.30353 5.52855 4.97805C5.66264 4.65257 5.85984 4.35686 6.10879 4.10798C6.35773 3.85909 6.65349 3.66196 6.979 3.52794Z', fill='white')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M13.8047 0.195262C14.0651 0.455612 14.0651 0.877722 13.8047 1.13807L3.13807 11.8047C2.87772 12.0651 2.45561 12.0651 2.19526 11.8047C1.93491 11.5444 1.93491 11.1223 2.19526 10.8619L12.8619 0.195262C13.1223 -0.0650874 13.5444 -0.0650874 13.8047 0.195262Z', fill='white')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M12.5843 3.51989C12.8495 3.26444 13.2715 3.2723 13.5269 3.53745C13.9428 3.96909 14.334 4.42381 14.6987 4.89945C14.9426 5.21406 15.075 5.60079 15.0752 5.99889C15.0754 6.39708 14.9433 6.78401 14.6996 7.09888C14.1837 7.77215 13.2988 8.81382 12.1671 9.69303C11.0421 10.567 9.60521 11.3333 8.00017 11.3333H7.99714V11.3333C7.48219 11.331 6.9702 11.2552 6.47665 11.1083C6.12376 11.0032 5.92284 10.632 6.02788 10.2791C6.13292 9.92625 6.50415 9.72533 6.85704 9.83037C7.2286 9.94097 7.61401 9.99809 8.00167 10C9.18411 9.99952 10.3346 9.42828 11.3491 8.64013C12.3564 7.85748 13.1627 6.91269 13.6423 6.28659L13.6448 6.28336C13.7078 6.20216 13.7419 6.1023 13.7419 5.99954C13.7418 5.89677 13.7076 5.79695 13.6445 5.71581L13.6417 5.71225L13.6417 5.71224C13.3072 5.2758 12.9483 4.85857 12.5667 4.46254C12.3113 4.19738 12.3191 3.77535 12.5843 3.51989Z', fill='white')



                    span.input.input--hoshi.input-pass
                        svg.ic-inp(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M14 8C14 7.1176 13.3273 6.4 12.5 6.4H11.75V4C11.75 1.7944 10.0677 0 8 0C5.93225 0 4.25 1.7944 4.25 4V6.4H3.5C2.67275 6.4 2 7.1176 2 8V14.4C2 15.2824 2.67275 16 3.5 16H12.5C13.3273 16 14 15.2824 14 14.4V8ZM5.75 4C5.75 2.6768 6.7595 1.6 8 1.6C9.2405 1.6 10.25 2.6768 10.25 4V6.4H5.75V4Z', fill='white')

                        input#pas.input__field.input__field--hoshi(type='password')
                        label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='pas')
                            span.input__label-content.input__label-content--hoshi password
                        button.eyes
                            svg.open(width='16', height='12', viewbox='0 0 16 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M4.65111 3.35995C3.64375 4.1426 2.83753 5.08738 2.35791 5.71349L2.35516 5.71707L2.35515 5.71706C2.29227 5.79801 2.25814 5.89758 2.25814 6.00008C2.25814 6.10258 2.29227 6.20215 2.35515 6.2831L2.35792 6.28666L2.35791 6.28667C2.83753 6.91278 3.64375 7.85756 4.65111 8.64021C5.66598 9.4287 6.81704 10.0001 8.00001 10.0001C9.18298 10.0001 10.334 9.4287 11.3489 8.64021C12.3459 7.86558 13.1459 6.93213 13.6273 6.30602C13.6596 6.2536 13.7093 6.14398 13.7236 6.02201C13.7325 5.94594 13.727 5.87851 13.7028 5.81625C13.6872 5.78054 13.6669 5.74595 13.6419 5.71317C13.1622 5.08706 12.3561 4.14246 11.3489 3.35995C10.334 2.57146 9.18298 2.00008 8.00001 2.00008C6.81704 2.00008 5.66598 2.57146 4.65111 3.35995ZM14.9429 5.32555C14.8863 5.18167 14.8066 5.03814 14.6982 4.8996C14.1822 4.22628 13.2977 3.18556 12.1669 2.30705C11.042 1.43303 9.60504 0.666748 8.00001 0.666748C6.39498 0.666748 4.95804 1.43303 3.83308 2.30705C2.7015 3.1862 1.81656 4.22779 1.30067 4.90106C1.05704 5.21559 0.924805 5.60218 0.924805 6.00008C0.924805 6.39797 1.05703 6.78455 1.30065 7.09907C1.81654 7.77235 2.70149 8.81395 3.83308 9.69312C4.95804 10.5671 6.39498 11.3334 8.00001 11.3334C9.60504 11.3334 11.042 10.5671 12.1669 9.69312C13.2994 8.81326 14.1849 7.77072 14.7006 7.09749L14.7006 7.0974C15.0986 6.57766 15.1791 5.90671 14.9429 5.32555Z', fill='white')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M7.9998 4.66675C7.26342 4.66675 6.66646 5.2637 6.66646 6.00008C6.66646 6.73646 7.26342 7.33341 7.9998 7.33341C8.73618 7.33341 9.33313 6.73646 9.33313 6.00008C9.33313 5.2637 8.73618 4.66675 7.9998 4.66675ZM5.33313 6.00008C5.33313 4.52732 6.52704 3.33341 7.9998 3.33341C9.47256 3.33341 10.6665 4.52732 10.6665 6.00008C10.6665 7.47284 9.47256 8.66675 7.9998 8.66675C6.52704 8.66675 5.33313 7.47284 5.33313 6.00008Z', fill='white')

                            svg.close(width='16', height='12', viewbox='0 0 16 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M4.65119 3.35987C3.64383 4.14252 2.83761 5.08731 2.35799 5.71341L2.35528 5.71695L2.35527 5.71694C2.29231 5.798 2.25814 5.89771 2.25814 6.00034C2.25814 6.10297 2.29231 6.20268 2.35527 6.28373L2.35782 6.28702L2.35781 6.28703C2.88949 6.98047 3.81575 8.05759 4.96805 8.87576C5.26826 9.08891 5.33883 9.50508 5.12567 9.80529C4.91251 10.1055 4.49634 10.1761 4.19613 9.96292C2.8893 9.03504 1.86939 7.84114 1.30084 7.0998C1.0571 6.78515 0.924805 6.3984 0.924805 6.00034C0.924805 5.60234 1.05706 5.21564 1.30073 4.90102C1.81662 4.22774 2.70157 3.18613 3.83316 2.30697C4.95812 1.43295 6.39506 0.666672 8.00009 0.666672C9.44164 0.666672 10.7456 1.28473 11.8065 2.03943C12.1065 2.25284 12.1768 2.66907 11.9633 2.9691C11.7499 3.26913 11.3337 3.33934 11.0337 3.12592C10.0946 2.45795 9.05987 2.00001 8.00009 2.00001C6.81712 2.00001 5.66606 2.57139 4.65119 3.35987Z', fill='white')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M6.979 3.52794C7.30451 3.39393 7.65334 3.3257 8.00535 3.32717C8.35737 3.32865 8.70561 3.3998 9.02999 3.53654C9.35437 3.67327 9.64846 3.87288 9.89531 4.12384C10.1535 4.38633 10.15 4.80843 9.88752 5.06662C9.62503 5.32481 9.20294 5.32132 8.94475 5.05883C8.82132 4.93335 8.67427 4.83354 8.51208 4.76518C8.3499 4.69681 8.17577 4.66123 7.99977 4.66049C7.82376 4.65976 7.64935 4.69387 7.48659 4.76088C7.32383 4.82789 7.17596 4.92645 7.05148 5.0509C6.92701 5.17534 6.82841 5.32319 6.76137 5.48593C6.69432 5.64867 6.66016 5.82308 6.66086 5.99909C6.66155 6.17509 6.69709 6.34922 6.76542 6.51143C6.83375 6.67363 6.93352 6.82071 7.05897 6.94416C7.3214 7.20241 7.32479 7.62451 7.06653 7.88694C6.80828 8.14937 6.38619 8.15276 6.12376 7.89451C5.87285 7.6476 5.67332 7.35345 5.53666 7.02904C5.4 6.70463 5.32893 6.35637 5.32754 6.00436C5.32614 5.65234 5.39446 5.30353 5.52855 4.97805C5.66264 4.65257 5.85984 4.35686 6.10879 4.10798C6.35773 3.85909 6.65349 3.66196 6.979 3.52794Z', fill='white')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M13.8047 0.195262C14.0651 0.455612 14.0651 0.877722 13.8047 1.13807L3.13807 11.8047C2.87772 12.0651 2.45561 12.0651 2.19526 11.8047C1.93491 11.5444 1.93491 11.1223 2.19526 10.8619L12.8619 0.195262C13.1223 -0.0650874 13.5444 -0.0650874 13.8047 0.195262Z', fill='white')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M12.5843 3.51989C12.8495 3.26444 13.2715 3.2723 13.5269 3.53745C13.9428 3.96909 14.334 4.42381 14.6987 4.89945C14.9426 5.21406 15.075 5.60079 15.0752 5.99889C15.0754 6.39708 14.9433 6.78401 14.6996 7.09888C14.1837 7.77215 13.2988 8.81382 12.1671 9.69303C11.0421 10.567 9.60521 11.3333 8.00017 11.3333H7.99714V11.3333C7.48219 11.331 6.9702 11.2552 6.47665 11.1083C6.12376 11.0032 5.92284 10.632 6.02788 10.2791C6.13292 9.92625 6.50415 9.72533 6.85704 9.83037C7.2286 9.94097 7.61401 9.99809 8.00167 10C9.18411 9.99952 10.3346 9.42828 11.3491 8.64013C12.3564 7.85748 13.1627 6.91269 13.6423 6.28659L13.6448 6.28336C13.7078 6.20216 13.7419 6.1023 13.7419 5.99954C13.7418 5.89677 13.7076 5.79695 13.6445 5.71581L13.6417 5.71225L13.6417 5.71224C13.3072 5.2758 12.9483 4.85857 12.5667 4.46254C12.3113 4.19738 12.3191 3.77535 12.5843 3.51989Z', fill='white')



                    button.button-o.entrance__btn(type="submit") отправить заявку

                    p.entrance__noAccount Есть аккаунт? <a href="#">Войти</a>

#password-recovery.popup.entrance(aria-hidden='true')
    .popup__wrapper
        .popup__content.entrance-content(style="background-image: url('./img/svg/fon.svg');")
            button.popup__close(data-close, type='button')
                svg(width='15', height='15', viewbox='0 0 15 15', fill='none', xmlns='http://www.w3.org/2000/svg')
                    g(opacity='0.5')
                        path(d='M8.50698 7.50027L14.4284 1.57884C14.5454 1.4422 14.6066 1.26643 14.5996 1.08666C14.5927 0.906894 14.5182 0.736366 14.391 0.609156C14.2637 0.481945 14.0932 0.407422 13.9135 0.400478C13.7337 0.393534 13.5579 0.454682 13.4213 0.571701L7.49984 6.49313L1.57841 0.564558C1.44391 0.430055 1.26149 0.354492 1.07127 0.354492C0.881054 0.354492 0.69863 0.430055 0.564127 0.564558C0.429624 0.69906 0.354062 0.881485 0.354062 1.0717C0.354062 1.26192 0.429624 1.44434 0.564127 1.57884L6.4927 7.50027L0.564127 13.4217C0.489354 13.4857 0.428626 13.5645 0.385752 13.6531C0.342878 13.7418 0.318785 13.8383 0.314985 13.9367C0.311186 14.035 0.327761 14.1331 0.363672 14.2248C0.399582 14.3164 0.454052 14.3997 0.523663 14.4693C0.593273 14.5389 0.676521 14.5934 0.768182 14.6293C0.859843 14.6652 0.957937 14.6818 1.05631 14.678C1.15468 14.6742 1.2512 14.6501 1.33982 14.6072C1.42844 14.5643 1.50724 14.5036 1.57127 14.4288L7.49984 8.50741L13.4213 14.4288C13.5579 14.5459 13.7337 14.607 13.9135 14.6001C14.0932 14.5931 14.2637 14.5186 14.391 14.3914C14.5182 14.2642 14.5927 14.0936 14.5996 13.9139C14.6066 13.7341 14.5454 13.5583 14.4284 13.4217L8.50698 7.50027Z', fill='white')

            .popup__body.entrance__body
                .entrance__title смена пароля
                .entrance__description Пожалуйста, придумайте новый пароль и подтвердите его. <br> Длина вашего пароля должна превышать 8 символов.

                form.entrance__form(action="#entrance-form" id="" autocomplete="off" method="post")


                    span.input.input--hoshi.input-pass
                        svg.ic-inp(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M14 8C14 7.1176 13.3273 6.4 12.5 6.4H11.75V4C11.75 1.7944 10.0677 0 8 0C5.93225 0 4.25 1.7944 4.25 4V6.4H3.5C2.67275 6.4 2 7.1176 2 8V14.4C2 15.2824 2.67275 16 3.5 16H12.5C13.3273 16 14 15.2824 14 14.4V8ZM5.75 4C5.75 2.6768 6.7595 1.6 8 1.6C9.2405 1.6 10.25 2.6768 10.25 4V6.4H5.75V4Z', fill='white')

                        input#new-password.input__field.input__field--hoshi(type='password')
                        label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='new-password')
                            span.input__label-content.input__label-content--hoshi Новый пароль
                        button.eyes
                            svg.open(width='16', height='12', viewbox='0 0 16 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M4.65111 3.35995C3.64375 4.1426 2.83753 5.08738 2.35791 5.71349L2.35516 5.71707L2.35515 5.71706C2.29227 5.79801 2.25814 5.89758 2.25814 6.00008C2.25814 6.10258 2.29227 6.20215 2.35515 6.2831L2.35792 6.28666L2.35791 6.28667C2.83753 6.91278 3.64375 7.85756 4.65111 8.64021C5.66598 9.4287 6.81704 10.0001 8.00001 10.0001C9.18298 10.0001 10.334 9.4287 11.3489 8.64021C12.3459 7.86558 13.1459 6.93213 13.6273 6.30602C13.6596 6.2536 13.7093 6.14398 13.7236 6.02201C13.7325 5.94594 13.727 5.87851 13.7028 5.81625C13.6872 5.78054 13.6669 5.74595 13.6419 5.71317C13.1622 5.08706 12.3561 4.14246 11.3489 3.35995C10.334 2.57146 9.18298 2.00008 8.00001 2.00008C6.81704 2.00008 5.66598 2.57146 4.65111 3.35995ZM14.9429 5.32555C14.8863 5.18167 14.8066 5.03814 14.6982 4.8996C14.1822 4.22628 13.2977 3.18556 12.1669 2.30705C11.042 1.43303 9.60504 0.666748 8.00001 0.666748C6.39498 0.666748 4.95804 1.43303 3.83308 2.30705C2.7015 3.1862 1.81656 4.22779 1.30067 4.90106C1.05704 5.21559 0.924805 5.60218 0.924805 6.00008C0.924805 6.39797 1.05703 6.78455 1.30065 7.09907C1.81654 7.77235 2.70149 8.81395 3.83308 9.69312C4.95804 10.5671 6.39498 11.3334 8.00001 11.3334C9.60504 11.3334 11.042 10.5671 12.1669 9.69312C13.2994 8.81326 14.1849 7.77072 14.7006 7.09749L14.7006 7.0974C15.0986 6.57766 15.1791 5.90671 14.9429 5.32555Z', fill='white')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M7.9998 4.66675C7.26342 4.66675 6.66646 5.2637 6.66646 6.00008C6.66646 6.73646 7.26342 7.33341 7.9998 7.33341C8.73618 7.33341 9.33313 6.73646 9.33313 6.00008C9.33313 5.2637 8.73618 4.66675 7.9998 4.66675ZM5.33313 6.00008C5.33313 4.52732 6.52704 3.33341 7.9998 3.33341C9.47256 3.33341 10.6665 4.52732 10.6665 6.00008C10.6665 7.47284 9.47256 8.66675 7.9998 8.66675C6.52704 8.66675 5.33313 7.47284 5.33313 6.00008Z', fill='white')

                            svg.close(width='16', height='12', viewbox='0 0 16 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M4.65119 3.35987C3.64383 4.14252 2.83761 5.08731 2.35799 5.71341L2.35528 5.71695L2.35527 5.71694C2.29231 5.798 2.25814 5.89771 2.25814 6.00034C2.25814 6.10297 2.29231 6.20268 2.35527 6.28373L2.35782 6.28702L2.35781 6.28703C2.88949 6.98047 3.81575 8.05759 4.96805 8.87576C5.26826 9.08891 5.33883 9.50508 5.12567 9.80529C4.91251 10.1055 4.49634 10.1761 4.19613 9.96292C2.8893 9.03504 1.86939 7.84114 1.30084 7.0998C1.0571 6.78515 0.924805 6.3984 0.924805 6.00034C0.924805 5.60234 1.05706 5.21564 1.30073 4.90102C1.81662 4.22774 2.70157 3.18613 3.83316 2.30697C4.95812 1.43295 6.39506 0.666672 8.00009 0.666672C9.44164 0.666672 10.7456 1.28473 11.8065 2.03943C12.1065 2.25284 12.1768 2.66907 11.9633 2.9691C11.7499 3.26913 11.3337 3.33934 11.0337 3.12592C10.0946 2.45795 9.05987 2.00001 8.00009 2.00001C6.81712 2.00001 5.66606 2.57139 4.65119 3.35987Z', fill='white')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M6.979 3.52794C7.30451 3.39393 7.65334 3.3257 8.00535 3.32717C8.35737 3.32865 8.70561 3.3998 9.02999 3.53654C9.35437 3.67327 9.64846 3.87288 9.89531 4.12384C10.1535 4.38633 10.15 4.80843 9.88752 5.06662C9.62503 5.32481 9.20294 5.32132 8.94475 5.05883C8.82132 4.93335 8.67427 4.83354 8.51208 4.76518C8.3499 4.69681 8.17577 4.66123 7.99977 4.66049C7.82376 4.65976 7.64935 4.69387 7.48659 4.76088C7.32383 4.82789 7.17596 4.92645 7.05148 5.0509C6.92701 5.17534 6.82841 5.32319 6.76137 5.48593C6.69432 5.64867 6.66016 5.82308 6.66086 5.99909C6.66155 6.17509 6.69709 6.34922 6.76542 6.51143C6.83375 6.67363 6.93352 6.82071 7.05897 6.94416C7.3214 7.20241 7.32479 7.62451 7.06653 7.88694C6.80828 8.14937 6.38619 8.15276 6.12376 7.89451C5.87285 7.6476 5.67332 7.35345 5.53666 7.02904C5.4 6.70463 5.32893 6.35637 5.32754 6.00436C5.32614 5.65234 5.39446 5.30353 5.52855 4.97805C5.66264 4.65257 5.85984 4.35686 6.10879 4.10798C6.35773 3.85909 6.65349 3.66196 6.979 3.52794Z', fill='white')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M13.8047 0.195262C14.0651 0.455612 14.0651 0.877722 13.8047 1.13807L3.13807 11.8047C2.87772 12.0651 2.45561 12.0651 2.19526 11.8047C1.93491 11.5444 1.93491 11.1223 2.19526 10.8619L12.8619 0.195262C13.1223 -0.0650874 13.5444 -0.0650874 13.8047 0.195262Z', fill='white')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M12.5843 3.51989C12.8495 3.26444 13.2715 3.2723 13.5269 3.53745C13.9428 3.96909 14.334 4.42381 14.6987 4.89945C14.9426 5.21406 15.075 5.60079 15.0752 5.99889C15.0754 6.39708 14.9433 6.78401 14.6996 7.09888C14.1837 7.77215 13.2988 8.81382 12.1671 9.69303C11.0421 10.567 9.60521 11.3333 8.00017 11.3333H7.99714V11.3333C7.48219 11.331 6.9702 11.2552 6.47665 11.1083C6.12376 11.0032 5.92284 10.632 6.02788 10.2791C6.13292 9.92625 6.50415 9.72533 6.85704 9.83037C7.2286 9.94097 7.61401 9.99809 8.00167 10C9.18411 9.99952 10.3346 9.42828 11.3491 8.64013C12.3564 7.85748 13.1627 6.91269 13.6423 6.28659L13.6448 6.28336C13.7078 6.20216 13.7419 6.1023 13.7419 5.99954C13.7418 5.89677 13.7076 5.79695 13.6445 5.71581L13.6417 5.71225L13.6417 5.71224C13.3072 5.2758 12.9483 4.85857 12.5667 4.46254C12.3113 4.19738 12.3191 3.77535 12.5843 3.51989Z', fill='white')



                    span.input.input--hoshi.input-pass
                        svg.ic-inp(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M14 8C14 7.1176 13.3273 6.4 12.5 6.4H11.75V4C11.75 1.7944 10.0677 0 8 0C5.93225 0 4.25 1.7944 4.25 4V6.4H3.5C2.67275 6.4 2 7.1176 2 8V14.4C2 15.2824 2.67275 16 3.5 16H12.5C13.3273 16 14 15.2824 14 14.4V8ZM5.75 4C5.75 2.6768 6.7595 1.6 8 1.6C9.2405 1.6 10.25 2.6768 10.25 4V6.4H5.75V4Z', fill='white')

                        input#confirm-password.input__field.input__field--hoshi(type='confirm-password')
                        label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='confirm-password')
                            span.input__label-content.input__label-content--hoshi Повторите пароль
                        button.eyes
                            svg.open(width='16', height='12', viewbox='0 0 16 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M4.65111 3.35995C3.64375 4.1426 2.83753 5.08738 2.35791 5.71349L2.35516 5.71707L2.35515 5.71706C2.29227 5.79801 2.25814 5.89758 2.25814 6.00008C2.25814 6.10258 2.29227 6.20215 2.35515 6.2831L2.35792 6.28666L2.35791 6.28667C2.83753 6.91278 3.64375 7.85756 4.65111 8.64021C5.66598 9.4287 6.81704 10.0001 8.00001 10.0001C9.18298 10.0001 10.334 9.4287 11.3489 8.64021C12.3459 7.86558 13.1459 6.93213 13.6273 6.30602C13.6596 6.2536 13.7093 6.14398 13.7236 6.02201C13.7325 5.94594 13.727 5.87851 13.7028 5.81625C13.6872 5.78054 13.6669 5.74595 13.6419 5.71317C13.1622 5.08706 12.3561 4.14246 11.3489 3.35995C10.334 2.57146 9.18298 2.00008 8.00001 2.00008C6.81704 2.00008 5.66598 2.57146 4.65111 3.35995ZM14.9429 5.32555C14.8863 5.18167 14.8066 5.03814 14.6982 4.8996C14.1822 4.22628 13.2977 3.18556 12.1669 2.30705C11.042 1.43303 9.60504 0.666748 8.00001 0.666748C6.39498 0.666748 4.95804 1.43303 3.83308 2.30705C2.7015 3.1862 1.81656 4.22779 1.30067 4.90106C1.05704 5.21559 0.924805 5.60218 0.924805 6.00008C0.924805 6.39797 1.05703 6.78455 1.30065 7.09907C1.81654 7.77235 2.70149 8.81395 3.83308 9.69312C4.95804 10.5671 6.39498 11.3334 8.00001 11.3334C9.60504 11.3334 11.042 10.5671 12.1669 9.69312C13.2994 8.81326 14.1849 7.77072 14.7006 7.09749L14.7006 7.0974C15.0986 6.57766 15.1791 5.90671 14.9429 5.32555Z', fill='white')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M7.9998 4.66675C7.26342 4.66675 6.66646 5.2637 6.66646 6.00008C6.66646 6.73646 7.26342 7.33341 7.9998 7.33341C8.73618 7.33341 9.33313 6.73646 9.33313 6.00008C9.33313 5.2637 8.73618 4.66675 7.9998 4.66675ZM5.33313 6.00008C5.33313 4.52732 6.52704 3.33341 7.9998 3.33341C9.47256 3.33341 10.6665 4.52732 10.6665 6.00008C10.6665 7.47284 9.47256 8.66675 7.9998 8.66675C6.52704 8.66675 5.33313 7.47284 5.33313 6.00008Z', fill='white')

                            svg.close(width='16', height='12', viewbox='0 0 16 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M4.65119 3.35987C3.64383 4.14252 2.83761 5.08731 2.35799 5.71341L2.35528 5.71695L2.35527 5.71694C2.29231 5.798 2.25814 5.89771 2.25814 6.00034C2.25814 6.10297 2.29231 6.20268 2.35527 6.28373L2.35782 6.28702L2.35781 6.28703C2.88949 6.98047 3.81575 8.05759 4.96805 8.87576C5.26826 9.08891 5.33883 9.50508 5.12567 9.80529C4.91251 10.1055 4.49634 10.1761 4.19613 9.96292C2.8893 9.03504 1.86939 7.84114 1.30084 7.0998C1.0571 6.78515 0.924805 6.3984 0.924805 6.00034C0.924805 5.60234 1.05706 5.21564 1.30073 4.90102C1.81662 4.22774 2.70157 3.18613 3.83316 2.30697C4.95812 1.43295 6.39506 0.666672 8.00009 0.666672C9.44164 0.666672 10.7456 1.28473 11.8065 2.03943C12.1065 2.25284 12.1768 2.66907 11.9633 2.9691C11.7499 3.26913 11.3337 3.33934 11.0337 3.12592C10.0946 2.45795 9.05987 2.00001 8.00009 2.00001C6.81712 2.00001 5.66606 2.57139 4.65119 3.35987Z', fill='white')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M6.979 3.52794C7.30451 3.39393 7.65334 3.3257 8.00535 3.32717C8.35737 3.32865 8.70561 3.3998 9.02999 3.53654C9.35437 3.67327 9.64846 3.87288 9.89531 4.12384C10.1535 4.38633 10.15 4.80843 9.88752 5.06662C9.62503 5.32481 9.20294 5.32132 8.94475 5.05883C8.82132 4.93335 8.67427 4.83354 8.51208 4.76518C8.3499 4.69681 8.17577 4.66123 7.99977 4.66049C7.82376 4.65976 7.64935 4.69387 7.48659 4.76088C7.32383 4.82789 7.17596 4.92645 7.05148 5.0509C6.92701 5.17534 6.82841 5.32319 6.76137 5.48593C6.69432 5.64867 6.66016 5.82308 6.66086 5.99909C6.66155 6.17509 6.69709 6.34922 6.76542 6.51143C6.83375 6.67363 6.93352 6.82071 7.05897 6.94416C7.3214 7.20241 7.32479 7.62451 7.06653 7.88694C6.80828 8.14937 6.38619 8.15276 6.12376 7.89451C5.87285 7.6476 5.67332 7.35345 5.53666 7.02904C5.4 6.70463 5.32893 6.35637 5.32754 6.00436C5.32614 5.65234 5.39446 5.30353 5.52855 4.97805C5.66264 4.65257 5.85984 4.35686 6.10879 4.10798C6.35773 3.85909 6.65349 3.66196 6.979 3.52794Z', fill='white')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M13.8047 0.195262C14.0651 0.455612 14.0651 0.877722 13.8047 1.13807L3.13807 11.8047C2.87772 12.0651 2.45561 12.0651 2.19526 11.8047C1.93491 11.5444 1.93491 11.1223 2.19526 10.8619L12.8619 0.195262C13.1223 -0.0650874 13.5444 -0.0650874 13.8047 0.195262Z', fill='white')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M12.5843 3.51989C12.8495 3.26444 13.2715 3.2723 13.5269 3.53745C13.9428 3.96909 14.334 4.42381 14.6987 4.89945C14.9426 5.21406 15.075 5.60079 15.0752 5.99889C15.0754 6.39708 14.9433 6.78401 14.6996 7.09888C14.1837 7.77215 13.2988 8.81382 12.1671 9.69303C11.0421 10.567 9.60521 11.3333 8.00017 11.3333H7.99714V11.3333C7.48219 11.331 6.9702 11.2552 6.47665 11.1083C6.12376 11.0032 5.92284 10.632 6.02788 10.2791C6.13292 9.92625 6.50415 9.72533 6.85704 9.83037C7.2286 9.94097 7.61401 9.99809 8.00167 10C9.18411 9.99952 10.3346 9.42828 11.3491 8.64013C12.3564 7.85748 13.1627 6.91269 13.6423 6.28659L13.6448 6.28336C13.7078 6.20216 13.7419 6.1023 13.7419 5.99954C13.7418 5.89677 13.7076 5.79695 13.6445 5.71581L13.6417 5.71225L13.6417 5.71224C13.3072 5.2758 12.9483 4.85857 12.5667 4.46254C12.3113 4.19738 12.3191 3.77535 12.5843 3.51989Z', fill='white')



                    button.button-o.entrance__btn(type="submit") Сменить пароль

#refMany.popup.buyProxy.refMany(aria-hidden='true')
    .popup__wrapper
        .popup__content.buyProxy-content
            button.popup__close(data-close, type='button')
                svg(width='15', height='15', viewbox='0 0 15 15', fill='none', xmlns='http://www.w3.org/2000/svg')
                    g(opacity='0.5')
                        path(d='M8.50698 7.50027L14.4284 1.57884C14.5454 1.4422 14.6066 1.26643 14.5996 1.08666C14.5927 0.906894 14.5182 0.736366 14.391 0.609156C14.2637 0.481945 14.0932 0.407422 13.9135 0.400478C13.7337 0.393534 13.5579 0.454682 13.4213 0.571701L7.49984 6.49313L1.57841 0.564558C1.44391 0.430055 1.26149 0.354492 1.07127 0.354492C0.881054 0.354492 0.69863 0.430055 0.564127 0.564558C0.429624 0.69906 0.354062 0.881485 0.354062 1.0717C0.354062 1.26192 0.429624 1.44434 0.564127 1.57884L6.4927 7.50027L0.564127 13.4217C0.489354 13.4857 0.428626 13.5645 0.385752 13.6531C0.342878 13.7418 0.318785 13.8383 0.314985 13.9367C0.311186 14.035 0.327761 14.1331 0.363672 14.2248C0.399582 14.3164 0.454052 14.3997 0.523663 14.4693C0.593273 14.5389 0.676521 14.5934 0.768182 14.6293C0.859843 14.6652 0.957937 14.6818 1.05631 14.678C1.15468 14.6742 1.2512 14.6501 1.33982 14.6072C1.42844 14.5643 1.50724 14.5036 1.57127 14.4288L7.49984 8.50741L13.4213 14.4288C13.5579 14.5459 13.7337 14.607 13.9135 14.6001C14.0932 14.5931 14.2637 14.5186 14.391 14.3914C14.5182 14.2642 14.5927 14.0936 14.5996 13.9139C14.6066 13.7341 14.5454 13.5583 14.4284 13.4217L8.50698 7.50027Z', fill='black')
            .popup__body.buyProxy__body
                .buyProxy__title Заявка на вывод
                .buyProxy__text Выберите платежную систему куда необходимо вывести реферальные средства
                .buyProxy__checckbox
                    .form_radio
                        input#radio-1(type='radio', name='radio', value='1', checked='')
                        label(for='radio-1') Radio button 1
                    .form_radio
                        input#radio-2(type='radio', name='radio', value='2')
                        label(for='radio-2') Radio button 2
                    .form_radio
                        input#radio-3(type='radio', name='radio', value='3')
                        label(for='radio-3') Radio button 3

                .paymentMethod-form__input
                    label(for='pric') Укажите сумму пополнения
                    input#pric(placeholder='500').paymentMethod-form__price
                    span ₽ $ ₣ €

                p *Позднее эти деньги нельзя будет вывести на другие платежные системы

                button.button-o Подвердить

#two-factor.popup.buyProxy.refMany(aria-hidden='true')
    .popup__wrapper
        .popup__content.buyProxy-content
            button.popup__close(data-close, type='button')
                svg(width='15', height='15', viewbox='0 0 15 15', fill='none', xmlns='http://www.w3.org/2000/svg')
                    g(opacity='0.5')
                        path(d='M8.50698 7.50027L14.4284 1.57884C14.5454 1.4422 14.6066 1.26643 14.5996 1.08666C14.5927 0.906894 14.5182 0.736366 14.391 0.609156C14.2637 0.481945 14.0932 0.407422 13.9135 0.400478C13.7337 0.393534 13.5579 0.454682 13.4213 0.571701L7.49984 6.49313L1.57841 0.564558C1.44391 0.430055 1.26149 0.354492 1.07127 0.354492C0.881054 0.354492 0.69863 0.430055 0.564127 0.564558C0.429624 0.69906 0.354062 0.881485 0.354062 1.0717C0.354062 1.26192 0.429624 1.44434 0.564127 1.57884L6.4927 7.50027L0.564127 13.4217C0.489354 13.4857 0.428626 13.5645 0.385752 13.6531C0.342878 13.7418 0.318785 13.8383 0.314985 13.9367C0.311186 14.035 0.327761 14.1331 0.363672 14.2248C0.399582 14.3164 0.454052 14.3997 0.523663 14.4693C0.593273 14.5389 0.676521 14.5934 0.768182 14.6293C0.859843 14.6652 0.957937 14.6818 1.05631 14.678C1.15468 14.6742 1.2512 14.6501 1.33982 14.6072C1.42844 14.5643 1.50724 14.5036 1.57127 14.4288L7.49984 8.50741L13.4213 14.4288C13.5579 14.5459 13.7337 14.607 13.9135 14.6001C14.0932 14.5931 14.2637 14.5186 14.391 14.3914C14.5182 14.2642 14.5927 14.0936 14.5996 13.9139C14.6066 13.7341 14.5454 13.5583 14.4284 13.4217L8.50698 7.50027Z', fill='black')
            .popup__body.buyProxy__body
                .buyProxy__title Установка двухфакторной аутентификации
                .buyProxy__text
                    p 1 Перейдите в приложение Google Authenticator.
                    br
                    p 2 Чтобы настроить 2FA и привязать аккаунт sms-activate к Google Authenticator, используйте секретный ключ или отсканируйте QR код.
                    br
                    p 3 Введите токен из приложения Google Authenticator в соответсвующее поле ниже
                    br
                    p 4 Нажмите "Сохранить изменения" ниже, чтобы начать пользоваться 2FA на вашем аккаунте sms-activate.
                    br
                    p Рекомендуем сохранить и надежно хранить секретный ключ, чтобы при необходимости восстановить доступ к 2FA. Если вы все-таки утратили доступ, напишите нам в "Обратная связь".

                .buyProxy__code.buyProxy-code
                    p Секретный код
                    .buyProxy-code__text QIKLRPNBYPNDYGLE
                    .buyProxy-code__qr
                        picture
                            source(srcset="img/png/qr.webp")
                            img(src="img/png/qr.png" alt="")


                .paymentMethod-form__input
                    label(for='pri') Google Authenticator Code
                    input#pri(placeholder='654879').paymentMethod-form__price



                button.button-o Сохранить изменения

#password-recovery2.popup.buyProxy.refMany(aria-hidden='true')
    .popup__wrapper
        .popup__content.buyProxy-content
            button.popup__close(data-close, type='button')
                svg(width='15', height='15', viewbox='0 0 15 15', fill='none', xmlns='http://www.w3.org/2000/svg')
                    g(opacity='0.5')
                        path(d='M8.50698 7.50027L14.4284 1.57884C14.5454 1.4422 14.6066 1.26643 14.5996 1.08666C14.5927 0.906894 14.5182 0.736366 14.391 0.609156C14.2637 0.481945 14.0932 0.407422 13.9135 0.400478C13.7337 0.393534 13.5579 0.454682 13.4213 0.571701L7.49984 6.49313L1.57841 0.564558C1.44391 0.430055 1.26149 0.354492 1.07127 0.354492C0.881054 0.354492 0.69863 0.430055 0.564127 0.564558C0.429624 0.69906 0.354062 0.881485 0.354062 1.0717C0.354062 1.26192 0.429624 1.44434 0.564127 1.57884L6.4927 7.50027L0.564127 13.4217C0.489354 13.4857 0.428626 13.5645 0.385752 13.6531C0.342878 13.7418 0.318785 13.8383 0.314985 13.9367C0.311186 14.035 0.327761 14.1331 0.363672 14.2248C0.399582 14.3164 0.454052 14.3997 0.523663 14.4693C0.593273 14.5389 0.676521 14.5934 0.768182 14.6293C0.859843 14.6652 0.957937 14.6818 1.05631 14.678C1.15468 14.6742 1.2512 14.6501 1.33982 14.6072C1.42844 14.5643 1.50724 14.5036 1.57127 14.4288L7.49984 8.50741L13.4213 14.4288C13.5579 14.5459 13.7337 14.607 13.9135 14.6001C14.0932 14.5931 14.2637 14.5186 14.391 14.3914C14.5182 14.2642 14.5927 14.0936 14.5996 13.9139C14.6066 13.7341 14.5454 13.5583 14.4284 13.4217L8.50698 7.50027Z', fill='black')
            .popup__body.buyProxy__body
                .entrance__title Cмена пароля
                form.entrance__form(action="#entrance-form" id="" autocomplete="off" method="post")


                    span.input.input--hoshi.input-pass
                        svg.ic-inp(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M14 8C14 7.1176 13.3273 6.4 12.5 6.4H11.75V4C11.75 1.7944 10.0677 0 8 0C5.93225 0 4.25 1.7944 4.25 4V6.4H3.5C2.67275 6.4 2 7.1176 2 8V14.4C2 15.2824 2.67275 16 3.5 16H12.5C13.3273 16 14 15.2824 14 14.4V8ZM5.75 4C5.75 2.6768 6.7595 1.6 8 1.6C9.2405 1.6 10.25 2.6768 10.25 4V6.4H5.75V4Z', fill='black')

                        input#new-password.input__field.input__field--hoshi(type='password')
                        label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='new-password')
                            span.input__label-content.input__label-content--hoshi Текущий пароль
                        button.eyes
                            svg.open(width='16', height='12', viewbox='0 0 16 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M4.65111 3.35995C3.64375 4.1426 2.83753 5.08738 2.35791 5.71349L2.35516 5.71707L2.35515 5.71706C2.29227 5.79801 2.25814 5.89758 2.25814 6.00008C2.25814 6.10258 2.29227 6.20215 2.35515 6.2831L2.35792 6.28666L2.35791 6.28667C2.83753 6.91278 3.64375 7.85756 4.65111 8.64021C5.66598 9.4287 6.81704 10.0001 8.00001 10.0001C9.18298 10.0001 10.334 9.4287 11.3489 8.64021C12.3459 7.86558 13.1459 6.93213 13.6273 6.30602C13.6596 6.2536 13.7093 6.14398 13.7236 6.02201C13.7325 5.94594 13.727 5.87851 13.7028 5.81625C13.6872 5.78054 13.6669 5.74595 13.6419 5.71317C13.1622 5.08706 12.3561 4.14246 11.3489 3.35995C10.334 2.57146 9.18298 2.00008 8.00001 2.00008C6.81704 2.00008 5.66598 2.57146 4.65111 3.35995ZM14.9429 5.32555C14.8863 5.18167 14.8066 5.03814 14.6982 4.8996C14.1822 4.22628 13.2977 3.18556 12.1669 2.30705C11.042 1.43303 9.60504 0.666748 8.00001 0.666748C6.39498 0.666748 4.95804 1.43303 3.83308 2.30705C2.7015 3.1862 1.81656 4.22779 1.30067 4.90106C1.05704 5.21559 0.924805 5.60218 0.924805 6.00008C0.924805 6.39797 1.05703 6.78455 1.30065 7.09907C1.81654 7.77235 2.70149 8.81395 3.83308 9.69312C4.95804 10.5671 6.39498 11.3334 8.00001 11.3334C9.60504 11.3334 11.042 10.5671 12.1669 9.69312C13.2994 8.81326 14.1849 7.77072 14.7006 7.09749L14.7006 7.0974C15.0986 6.57766 15.1791 5.90671 14.9429 5.32555Z', fill='black')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M7.9998 4.66675C7.26342 4.66675 6.66646 5.2637 6.66646 6.00008C6.66646 6.73646 7.26342 7.33341 7.9998 7.33341C8.73618 7.33341 9.33313 6.73646 9.33313 6.00008C9.33313 5.2637 8.73618 4.66675 7.9998 4.66675ZM5.33313 6.00008C5.33313 4.52732 6.52704 3.33341 7.9998 3.33341C9.47256 3.33341 10.6665 4.52732 10.6665 6.00008C10.6665 7.47284 9.47256 8.66675 7.9998 8.66675C6.52704 8.66675 5.33313 7.47284 5.33313 6.00008Z', fill='black')

                            svg.close(width='16', height='12', viewbox='0 0 16 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M4.65119 3.35987C3.64383 4.14252 2.83761 5.08731 2.35799 5.71341L2.35528 5.71695L2.35527 5.71694C2.29231 5.798 2.25814 5.89771 2.25814 6.00034C2.25814 6.10297 2.29231 6.20268 2.35527 6.28373L2.35782 6.28702L2.35781 6.28703C2.88949 6.98047 3.81575 8.05759 4.96805 8.87576C5.26826 9.08891 5.33883 9.50508 5.12567 9.80529C4.91251 10.1055 4.49634 10.1761 4.19613 9.96292C2.8893 9.03504 1.86939 7.84114 1.30084 7.0998C1.0571 6.78515 0.924805 6.3984 0.924805 6.00034C0.924805 5.60234 1.05706 5.21564 1.30073 4.90102C1.81662 4.22774 2.70157 3.18613 3.83316 2.30697C4.95812 1.43295 6.39506 0.666672 8.00009 0.666672C9.44164 0.666672 10.7456 1.28473 11.8065 2.03943C12.1065 2.25284 12.1768 2.66907 11.9633 2.9691C11.7499 3.26913 11.3337 3.33934 11.0337 3.12592C10.0946 2.45795 9.05987 2.00001 8.00009 2.00001C6.81712 2.00001 5.66606 2.57139 4.65119 3.35987Z', fill='black')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M6.979 3.52794C7.30451 3.39393 7.65334 3.3257 8.00535 3.32717C8.35737 3.32865 8.70561 3.3998 9.02999 3.53654C9.35437 3.67327 9.64846 3.87288 9.89531 4.12384C10.1535 4.38633 10.15 4.80843 9.88752 5.06662C9.62503 5.32481 9.20294 5.32132 8.94475 5.05883C8.82132 4.93335 8.67427 4.83354 8.51208 4.76518C8.3499 4.69681 8.17577 4.66123 7.99977 4.66049C7.82376 4.65976 7.64935 4.69387 7.48659 4.76088C7.32383 4.82789 7.17596 4.92645 7.05148 5.0509C6.92701 5.17534 6.82841 5.32319 6.76137 5.48593C6.69432 5.64867 6.66016 5.82308 6.66086 5.99909C6.66155 6.17509 6.69709 6.34922 6.76542 6.51143C6.83375 6.67363 6.93352 6.82071 7.05897 6.94416C7.3214 7.20241 7.32479 7.62451 7.06653 7.88694C6.80828 8.14937 6.38619 8.15276 6.12376 7.89451C5.87285 7.6476 5.67332 7.35345 5.53666 7.02904C5.4 6.70463 5.32893 6.35637 5.32754 6.00436C5.32614 5.65234 5.39446 5.30353 5.52855 4.97805C5.66264 4.65257 5.85984 4.35686 6.10879 4.10798C6.35773 3.85909 6.65349 3.66196 6.979 3.52794Z', fill='black')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M13.8047 0.195262C14.0651 0.455612 14.0651 0.877722 13.8047 1.13807L3.13807 11.8047C2.87772 12.0651 2.45561 12.0651 2.19526 11.8047C1.93491 11.5444 1.93491 11.1223 2.19526 10.8619L12.8619 0.195262C13.1223 -0.0650874 13.5444 -0.0650874 13.8047 0.195262Z', fill='black')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M12.5843 3.51989C12.8495 3.26444 13.2715 3.2723 13.5269 3.53745C13.9428 3.96909 14.334 4.42381 14.6987 4.89945C14.9426 5.21406 15.075 5.60079 15.0752 5.99889C15.0754 6.39708 14.9433 6.78401 14.6996 7.09888C14.1837 7.77215 13.2988 8.81382 12.1671 9.69303C11.0421 10.567 9.60521 11.3333 8.00017 11.3333H7.99714V11.3333C7.48219 11.331 6.9702 11.2552 6.47665 11.1083C6.12376 11.0032 5.92284 10.632 6.02788 10.2791C6.13292 9.92625 6.50415 9.72533 6.85704 9.83037C7.2286 9.94097 7.61401 9.99809 8.00167 10C9.18411 9.99952 10.3346 9.42828 11.3491 8.64013C12.3564 7.85748 13.1627 6.91269 13.6423 6.28659L13.6448 6.28336C13.7078 6.20216 13.7419 6.1023 13.7419 5.99954C13.7418 5.89677 13.7076 5.79695 13.6445 5.71581L13.6417 5.71225L13.6417 5.71224C13.3072 5.2758 12.9483 4.85857 12.5667 4.46254C12.3113 4.19738 12.3191 3.77535 12.5843 3.51989Z', fill='black')



                    span.input.input--hoshi.input-pass
                        svg.ic-inp(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M14 8C14 7.1176 13.3273 6.4 12.5 6.4H11.75V4C11.75 1.7944 10.0677 0 8 0C5.93225 0 4.25 1.7944 4.25 4V6.4H3.5C2.67275 6.4 2 7.1176 2 8V14.4C2 15.2824 2.67275 16 3.5 16H12.5C13.3273 16 14 15.2824 14 14.4V8ZM5.75 4C5.75 2.6768 6.7595 1.6 8 1.6C9.2405 1.6 10.25 2.6768 10.25 4V6.4H5.75V4Z', fill='black')

                        input#confirm-password.input__field.input__field--hoshi(type='confirm-password')
                        label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='confirm-password')
                            span.input__label-content.input__label-content--hoshi Новый пароль
                        button.eyes
                            svg.open(width='16', height='12', viewbox='0 0 16 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M4.65111 3.35995C3.64375 4.1426 2.83753 5.08738 2.35791 5.71349L2.35516 5.71707L2.35515 5.71706C2.29227 5.79801 2.25814 5.89758 2.25814 6.00008C2.25814 6.10258 2.29227 6.20215 2.35515 6.2831L2.35792 6.28666L2.35791 6.28667C2.83753 6.91278 3.64375 7.85756 4.65111 8.64021C5.66598 9.4287 6.81704 10.0001 8.00001 10.0001C9.18298 10.0001 10.334 9.4287 11.3489 8.64021C12.3459 7.86558 13.1459 6.93213 13.6273 6.30602C13.6596 6.2536 13.7093 6.14398 13.7236 6.02201C13.7325 5.94594 13.727 5.87851 13.7028 5.81625C13.6872 5.78054 13.6669 5.74595 13.6419 5.71317C13.1622 5.08706 12.3561 4.14246 11.3489 3.35995C10.334 2.57146 9.18298 2.00008 8.00001 2.00008C6.81704 2.00008 5.66598 2.57146 4.65111 3.35995ZM14.9429 5.32555C14.8863 5.18167 14.8066 5.03814 14.6982 4.8996C14.1822 4.22628 13.2977 3.18556 12.1669 2.30705C11.042 1.43303 9.60504 0.666748 8.00001 0.666748C6.39498 0.666748 4.95804 1.43303 3.83308 2.30705C2.7015 3.1862 1.81656 4.22779 1.30067 4.90106C1.05704 5.21559 0.924805 5.60218 0.924805 6.00008C0.924805 6.39797 1.05703 6.78455 1.30065 7.09907C1.81654 7.77235 2.70149 8.81395 3.83308 9.69312C4.95804 10.5671 6.39498 11.3334 8.00001 11.3334C9.60504 11.3334 11.042 10.5671 12.1669 9.69312C13.2994 8.81326 14.1849 7.77072 14.7006 7.09749L14.7006 7.0974C15.0986 6.57766 15.1791 5.90671 14.9429 5.32555Z', fill='black')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M7.9998 4.66675C7.26342 4.66675 6.66646 5.2637 6.66646 6.00008C6.66646 6.73646 7.26342 7.33341 7.9998 7.33341C8.73618 7.33341 9.33313 6.73646 9.33313 6.00008C9.33313 5.2637 8.73618 4.66675 7.9998 4.66675ZM5.33313 6.00008C5.33313 4.52732 6.52704 3.33341 7.9998 3.33341C9.47256 3.33341 10.6665 4.52732 10.6665 6.00008C10.6665 7.47284 9.47256 8.66675 7.9998 8.66675C6.52704 8.66675 5.33313 7.47284 5.33313 6.00008Z', fill='black')

                            svg.close(width='16', height='12', viewbox='0 0 16 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M4.65119 3.35987C3.64383 4.14252 2.83761 5.08731 2.35799 5.71341L2.35528 5.71695L2.35527 5.71694C2.29231 5.798 2.25814 5.89771 2.25814 6.00034C2.25814 6.10297 2.29231 6.20268 2.35527 6.28373L2.35782 6.28702L2.35781 6.28703C2.88949 6.98047 3.81575 8.05759 4.96805 8.87576C5.26826 9.08891 5.33883 9.50508 5.12567 9.80529C4.91251 10.1055 4.49634 10.1761 4.19613 9.96292C2.8893 9.03504 1.86939 7.84114 1.30084 7.0998C1.0571 6.78515 0.924805 6.3984 0.924805 6.00034C0.924805 5.60234 1.05706 5.21564 1.30073 4.90102C1.81662 4.22774 2.70157 3.18613 3.83316 2.30697C4.95812 1.43295 6.39506 0.666672 8.00009 0.666672C9.44164 0.666672 10.7456 1.28473 11.8065 2.03943C12.1065 2.25284 12.1768 2.66907 11.9633 2.9691C11.7499 3.26913 11.3337 3.33934 11.0337 3.12592C10.0946 2.45795 9.05987 2.00001 8.00009 2.00001C6.81712 2.00001 5.66606 2.57139 4.65119 3.35987Z', fill='black')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M6.979 3.52794C7.30451 3.39393 7.65334 3.3257 8.00535 3.32717C8.35737 3.32865 8.70561 3.3998 9.02999 3.53654C9.35437 3.67327 9.64846 3.87288 9.89531 4.12384C10.1535 4.38633 10.15 4.80843 9.88752 5.06662C9.62503 5.32481 9.20294 5.32132 8.94475 5.05883C8.82132 4.93335 8.67427 4.83354 8.51208 4.76518C8.3499 4.69681 8.17577 4.66123 7.99977 4.66049C7.82376 4.65976 7.64935 4.69387 7.48659 4.76088C7.32383 4.82789 7.17596 4.92645 7.05148 5.0509C6.92701 5.17534 6.82841 5.32319 6.76137 5.48593C6.69432 5.64867 6.66016 5.82308 6.66086 5.99909C6.66155 6.17509 6.69709 6.34922 6.76542 6.51143C6.83375 6.67363 6.93352 6.82071 7.05897 6.94416C7.3214 7.20241 7.32479 7.62451 7.06653 7.88694C6.80828 8.14937 6.38619 8.15276 6.12376 7.89451C5.87285 7.6476 5.67332 7.35345 5.53666 7.02904C5.4 6.70463 5.32893 6.35637 5.32754 6.00436C5.32614 5.65234 5.39446 5.30353 5.52855 4.97805C5.66264 4.65257 5.85984 4.35686 6.10879 4.10798C6.35773 3.85909 6.65349 3.66196 6.979 3.52794Z', fill='black')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M13.8047 0.195262C14.0651 0.455612 14.0651 0.877722 13.8047 1.13807L3.13807 11.8047C2.87772 12.0651 2.45561 12.0651 2.19526 11.8047C1.93491 11.5444 1.93491 11.1223 2.19526 10.8619L12.8619 0.195262C13.1223 -0.0650874 13.5444 -0.0650874 13.8047 0.195262Z', fill='black')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M12.5843 3.51989C12.8495 3.26444 13.2715 3.2723 13.5269 3.53745C13.9428 3.96909 14.334 4.42381 14.6987 4.89945C14.9426 5.21406 15.075 5.60079 15.0752 5.99889C15.0754 6.39708 14.9433 6.78401 14.6996 7.09888C14.1837 7.77215 13.2988 8.81382 12.1671 9.69303C11.0421 10.567 9.60521 11.3333 8.00017 11.3333H7.99714V11.3333C7.48219 11.331 6.9702 11.2552 6.47665 11.1083C6.12376 11.0032 5.92284 10.632 6.02788 10.2791C6.13292 9.92625 6.50415 9.72533 6.85704 9.83037C7.2286 9.94097 7.61401 9.99809 8.00167 10C9.18411 9.99952 10.3346 9.42828 11.3491 8.64013C12.3564 7.85748 13.1627 6.91269 13.6423 6.28659L13.6448 6.28336C13.7078 6.20216 13.7419 6.1023 13.7419 5.99954C13.7418 5.89677 13.7076 5.79695 13.6445 5.71581L13.6417 5.71225L13.6417 5.71224C13.3072 5.2758 12.9483 4.85857 12.5667 4.46254C12.3113 4.19738 12.3191 3.77535 12.5843 3.51989Z', fill='black')

                    span.input.input--hoshi.input-pass
                        svg.ic-inp(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M14 8C14 7.1176 13.3273 6.4 12.5 6.4H11.75V4C11.75 1.7944 10.0677 0 8 0C5.93225 0 4.25 1.7944 4.25 4V6.4H3.5C2.67275 6.4 2 7.1176 2 8V14.4C2 15.2824 2.67275 16 3.5 16H12.5C13.3273 16 14 15.2824 14 14.4V8ZM5.75 4C5.75 2.6768 6.7595 1.6 8 1.6C9.2405 1.6 10.25 2.6768 10.25 4V6.4H5.75V4Z', fill='black')

                        input#confirm-password.input__field.input__field--hoshi(type='confirm-password')
                        label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='confirm-password')
                            span.input__label-content.input__label-content--hoshi Повторите пароль
                        button.eyes
                            svg.open(width='16', height='12', viewbox='0 0 16 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M4.65111 3.35995C3.64375 4.1426 2.83753 5.08738 2.35791 5.71349L2.35516 5.71707L2.35515 5.71706C2.29227 5.79801 2.25814 5.89758 2.25814 6.00008C2.25814 6.10258 2.29227 6.20215 2.35515 6.2831L2.35792 6.28666L2.35791 6.28667C2.83753 6.91278 3.64375 7.85756 4.65111 8.64021C5.66598 9.4287 6.81704 10.0001 8.00001 10.0001C9.18298 10.0001 10.334 9.4287 11.3489 8.64021C12.3459 7.86558 13.1459 6.93213 13.6273 6.30602C13.6596 6.2536 13.7093 6.14398 13.7236 6.02201C13.7325 5.94594 13.727 5.87851 13.7028 5.81625C13.6872 5.78054 13.6669 5.74595 13.6419 5.71317C13.1622 5.08706 12.3561 4.14246 11.3489 3.35995C10.334 2.57146 9.18298 2.00008 8.00001 2.00008C6.81704 2.00008 5.66598 2.57146 4.65111 3.35995ZM14.9429 5.32555C14.8863 5.18167 14.8066 5.03814 14.6982 4.8996C14.1822 4.22628 13.2977 3.18556 12.1669 2.30705C11.042 1.43303 9.60504 0.666748 8.00001 0.666748C6.39498 0.666748 4.95804 1.43303 3.83308 2.30705C2.7015 3.1862 1.81656 4.22779 1.30067 4.90106C1.05704 5.21559 0.924805 5.60218 0.924805 6.00008C0.924805 6.39797 1.05703 6.78455 1.30065 7.09907C1.81654 7.77235 2.70149 8.81395 3.83308 9.69312C4.95804 10.5671 6.39498 11.3334 8.00001 11.3334C9.60504 11.3334 11.042 10.5671 12.1669 9.69312C13.2994 8.81326 14.1849 7.77072 14.7006 7.09749L14.7006 7.0974C15.0986 6.57766 15.1791 5.90671 14.9429 5.32555Z', fill='black')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M7.9998 4.66675C7.26342 4.66675 6.66646 5.2637 6.66646 6.00008C6.66646 6.73646 7.26342 7.33341 7.9998 7.33341C8.73618 7.33341 9.33313 6.73646 9.33313 6.00008C9.33313 5.2637 8.73618 4.66675 7.9998 4.66675ZM5.33313 6.00008C5.33313 4.52732 6.52704 3.33341 7.9998 3.33341C9.47256 3.33341 10.6665 4.52732 10.6665 6.00008C10.6665 7.47284 9.47256 8.66675 7.9998 8.66675C6.52704 8.66675 5.33313 7.47284 5.33313 6.00008Z', fill='black')

                            svg.close(width='16', height='12', viewbox='0 0 16 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M4.65119 3.35987C3.64383 4.14252 2.83761 5.08731 2.35799 5.71341L2.35528 5.71695L2.35527 5.71694C2.29231 5.798 2.25814 5.89771 2.25814 6.00034C2.25814 6.10297 2.29231 6.20268 2.35527 6.28373L2.35782 6.28702L2.35781 6.28703C2.88949 6.98047 3.81575 8.05759 4.96805 8.87576C5.26826 9.08891 5.33883 9.50508 5.12567 9.80529C4.91251 10.1055 4.49634 10.1761 4.19613 9.96292C2.8893 9.03504 1.86939 7.84114 1.30084 7.0998C1.0571 6.78515 0.924805 6.3984 0.924805 6.00034C0.924805 5.60234 1.05706 5.21564 1.30073 4.90102C1.81662 4.22774 2.70157 3.18613 3.83316 2.30697C4.95812 1.43295 6.39506 0.666672 8.00009 0.666672C9.44164 0.666672 10.7456 1.28473 11.8065 2.03943C12.1065 2.25284 12.1768 2.66907 11.9633 2.9691C11.7499 3.26913 11.3337 3.33934 11.0337 3.12592C10.0946 2.45795 9.05987 2.00001 8.00009 2.00001C6.81712 2.00001 5.66606 2.57139 4.65119 3.35987Z', fill='black')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M6.979 3.52794C7.30451 3.39393 7.65334 3.3257 8.00535 3.32717C8.35737 3.32865 8.70561 3.3998 9.02999 3.53654C9.35437 3.67327 9.64846 3.87288 9.89531 4.12384C10.1535 4.38633 10.15 4.80843 9.88752 5.06662C9.62503 5.32481 9.20294 5.32132 8.94475 5.05883C8.82132 4.93335 8.67427 4.83354 8.51208 4.76518C8.3499 4.69681 8.17577 4.66123 7.99977 4.66049C7.82376 4.65976 7.64935 4.69387 7.48659 4.76088C7.32383 4.82789 7.17596 4.92645 7.05148 5.0509C6.92701 5.17534 6.82841 5.32319 6.76137 5.48593C6.69432 5.64867 6.66016 5.82308 6.66086 5.99909C6.66155 6.17509 6.69709 6.34922 6.76542 6.51143C6.83375 6.67363 6.93352 6.82071 7.05897 6.94416C7.3214 7.20241 7.32479 7.62451 7.06653 7.88694C6.80828 8.14937 6.38619 8.15276 6.12376 7.89451C5.87285 7.6476 5.67332 7.35345 5.53666 7.02904C5.4 6.70463 5.32893 6.35637 5.32754 6.00436C5.32614 5.65234 5.39446 5.30353 5.52855 4.97805C5.66264 4.65257 5.85984 4.35686 6.10879 4.10798C6.35773 3.85909 6.65349 3.66196 6.979 3.52794Z', fill='black')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M13.8047 0.195262C14.0651 0.455612 14.0651 0.877722 13.8047 1.13807L3.13807 11.8047C2.87772 12.0651 2.45561 12.0651 2.19526 11.8047C1.93491 11.5444 1.93491 11.1223 2.19526 10.8619L12.8619 0.195262C13.1223 -0.0650874 13.5444 -0.0650874 13.8047 0.195262Z', fill='black')
                                path(fill-rule='evenodd', clip-rule='evenodd', d='M12.5843 3.51989C12.8495 3.26444 13.2715 3.2723 13.5269 3.53745C13.9428 3.96909 14.334 4.42381 14.6987 4.89945C14.9426 5.21406 15.075 5.60079 15.0752 5.99889C15.0754 6.39708 14.9433 6.78401 14.6996 7.09888C14.1837 7.77215 13.2988 8.81382 12.1671 9.69303C11.0421 10.567 9.60521 11.3333 8.00017 11.3333H7.99714V11.3333C7.48219 11.331 6.9702 11.2552 6.47665 11.1083C6.12376 11.0032 5.92284 10.632 6.02788 10.2791C6.13292 9.92625 6.50415 9.72533 6.85704 9.83037C7.2286 9.94097 7.61401 9.99809 8.00167 10C9.18411 9.99952 10.3346 9.42828 11.3491 8.64013C12.3564 7.85748 13.1627 6.91269 13.6423 6.28659L13.6448 6.28336C13.7078 6.20216 13.7419 6.1023 13.7419 5.99954C13.7418 5.89677 13.7076 5.79695 13.6445 5.71581L13.6417 5.71225L13.6417 5.71224C13.3072 5.2758 12.9483 4.85857 12.5667 4.46254C12.3113 4.19738 12.3191 3.77535 12.5843 3.51989Z', fill='black')

                    button.button-o Сменить пароль
