header.header-lk
    .menu__icon
        span
    button.header-lk__wallet <b>500 000.00</b> ₽
        svg(width='21', height='21', viewbox='0 0 21 21', fill='none', xmlns='http://www.w3.org/2000/svg')
            circle(cx='10.5', cy='10.5', r='10.5', fill='#EA5400')
            path(fill-rule='evenodd', clip-rule='evenodd', d='M10.2969 4C10.6334 4 10.9062 4.28163 10.9062 4.62903L10.9062 16.371C10.9062 16.7184 10.6334 17 10.2969 17C9.96033 17 9.6875 16.7184 9.6875 16.371L9.6875 4.62903C9.6875 4.28163 9.96033 4 10.2969 4Z', fill='white')
            path(fill-rule='evenodd', clip-rule='evenodd', d='M4 10.5C4 10.1526 4.27283 9.87097 4.60938 9.87097H16.3906C16.7272 9.87097 17 10.1526 17 10.5C17 10.8474 16.7272 11.129 16.3906 11.129H4.60938C4.27283 11.129 4 10.8474 4 10.5Z', fill='white')

    button.header-lk__settings.header-lk-settings
        .header-lk-settings__title Mailuser@proxy.ru
        svg.user(width='24', height='24', viewbox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
            g#person_24px
                path(id='icon/social/person_24px', fill-rule='evenodd', clip-rule='evenodd', d='M12 4C9.79 4 8 5.79 8 8C8 10.21 9.79 12 12 12C14.21 12 16 10.21 16 8C16 5.79 14.21 4 12 4ZM14 8C14 6.9 13.1 6 12 6C10.9 6 10 6.9 10 8C10 9.1 10.9 10 12 10C13.1 10 14 9.1 14 8ZM18 18C17.8 17.29 14.7 16 12 16C9.31 16 6.23 17.28 6 18H18ZM4 18C4 15.34 9.33 14 12 14C14.67 14 20 15.34 20 18V20H4V18Z', fill='#414042')
        .header-lk-settings__block-hidden
            .header-lk-settings__user
                svg(width='24', height='24', viewbox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                    g#person_24px
                        path(id='icon/social/person_24px', fill-rule='evenodd', clip-rule='evenodd', d='M12 4C9.79 4 8 5.79 8 8C8 10.21 9.79 12 12 12C14.21 12 16 10.21 16 8C16 5.79 14.21 4 12 4ZM14 8C14 6.9 13.1 6 12 6C10.9 6 10 6.9 10 8C10 9.1 10.9 10 12 10C13.1 10 14 9.1 14 8ZM18 18C17.8 17.29 14.7 16 12 16C9.31 16 6.23 17.28 6 18H18ZM4 18C4 15.34 9.33 14 12 14C14.67 14 20 15.34 20 18V20H4V18Z', fill='#414042')
                .name-user Настройки аккаунта
                .id ID: 845621458

            select.language
                option(data-asset='./img/svg/ru.svg') Русский
                option(data-asset='./img/svg/ru.svg') English
                option(selected data-asset='./img/svg/ru.svg') Deutsch

            .header-lk-settings__authorization
                svg(width='24', height='24', viewbox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(fill-rule='evenodd', clip-rule='evenodd', d='M10.09 8.41L12.67 11L3 11L3 13H12.67L10.09 15.59L11.5 17L16.5 12L11.5 7L10.09 8.41ZM19 5H12V3L19 3C20.1 3 21 3.9 21 5L21 19C21 20.1 20.1 21 19 21L12 21V19L19 19L19 5Z', fill='#EA5400')
                .inter Выход


