section.spollet
    .spollet__title Мои прокси
    .spollet__grid
        .spollers.spollet-proxy(data-spollers data-one-spoller)
            .spollers__title.proxy(data-spoller) Мобильные прокси <span></span>
                .info
                    .info-btn Все: 3
                    .info-btn Активные: 2
                    .info-btn На паузе: 1
                    .info-btn Завершеенные: 0
            .spollers__body
                .spollet-proxy__row
                    .row__title MobileProxyVK1
                    .row__date.green 35д 12:16:01
                    .row__region
                        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 9 6', width='28', height='18')
                            rect(fill='#fff', width='9', height='3')
                            rect(fill='#d52b1e', y='3', width='9', height='3')
                            rect(fill='#0039a6', y='2', width='9', height='2')
                        span RU/Уфа/Tele2
                    .row__line
                        span <b>IP: </b> 5.61.52.223
                            button
                                svg(width='19', height='19', viewbox='0 0 19 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M16.2688 8.72812L12.6469 5.10625C12.4687 4.86875 12.1719 4.75 11.875 4.75H7.125C6.47188 4.75 5.9375 5.28438 5.9375 5.9375V16.625C5.9375 17.2781 6.47188 17.8125 7.125 17.8125H15.4375C16.0906 17.8125 16.625 17.2781 16.625 16.625V9.55938C16.625 9.2625 16.5062 8.96562 16.2688 8.72812ZM11.875 5.9375L15.3781 9.5H11.875V5.9375ZM7.125 16.625V5.9375H10.6875V9.5C10.6875 10.1531 11.2219 10.6875 11.875 10.6875H15.4375V16.625H7.125Z', fill='#C4C4C4')
                                    path(d='M3.5625 10.6875H2.375V2.375C2.375 1.72188 2.90938 1.1875 3.5625 1.1875H11.875V2.375H3.5625V10.6875Z', fill='#C4C4C4')

                        span <b>Port:  </b> 10264
                            button
                                svg(width='19', height='19', viewbox='0 0 19 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M16.2688 8.72812L12.6469 5.10625C12.4687 4.86875 12.1719 4.75 11.875 4.75H7.125C6.47188 4.75 5.9375 5.28438 5.9375 5.9375V16.625C5.9375 17.2781 6.47188 17.8125 7.125 17.8125H15.4375C16.0906 17.8125 16.625 17.2781 16.625 16.625V9.55938C16.625 9.2625 16.5062 8.96562 16.2688 8.72812ZM11.875 5.9375L15.3781 9.5H11.875V5.9375ZM7.125 16.625V5.9375H10.6875V9.5C10.6875 10.1531 11.2219 10.6875 11.875 10.6875H15.4375V16.625H7.125Z', fill='#C4C4C4')
                                    path(d='M3.5625 10.6875H2.375V2.375C2.375 1.72188 2.90938 1.1875 3.5625 1.1875H11.875V2.375H3.5625V10.6875Z', fill='#C4C4C4')

                        span <b>Port:  </b> <g>Активна</g>

                        span <b>Date of purchase:  </b> 16/04/22 16:44:15

                    .row__btns
                        .button-o Перезагрузка
                        .button-w-w Пауза
                .spollet-proxy__row
                    .row__title MobileProxyVK1
                    .row__date.green 35д 12:16:01
                    .row__region
                        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 9 6', width='28', height='18')
                            rect(fill='#fff', width='9', height='3')
                            rect(fill='#d52b1e', y='3', width='9', height='3')
                            rect(fill='#0039a6', y='2', width='9', height='2')
                        span RU/Уфа/Tele2
                    .row__line
                        span <b>IP: </b> 5.61.52.223
                            button
                                svg(width='19', height='19', viewbox='0 0 19 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M16.2688 8.72812L12.6469 5.10625C12.4687 4.86875 12.1719 4.75 11.875 4.75H7.125C6.47188 4.75 5.9375 5.28438 5.9375 5.9375V16.625C5.9375 17.2781 6.47188 17.8125 7.125 17.8125H15.4375C16.0906 17.8125 16.625 17.2781 16.625 16.625V9.55938C16.625 9.2625 16.5062 8.96562 16.2688 8.72812ZM11.875 5.9375L15.3781 9.5H11.875V5.9375ZM7.125 16.625V5.9375H10.6875V9.5C10.6875 10.1531 11.2219 10.6875 11.875 10.6875H15.4375V16.625H7.125Z', fill='#C4C4C4')
                                    path(d='M3.5625 10.6875H2.375V2.375C2.375 1.72188 2.90938 1.1875 3.5625 1.1875H11.875V2.375H3.5625V10.6875Z', fill='#C4C4C4')

                        span <b>Port:  </b> 10264
                            button
                                svg(width='19', height='19', viewbox='0 0 19 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M16.2688 8.72812L12.6469 5.10625C12.4687 4.86875 12.1719 4.75 11.875 4.75H7.125C6.47188 4.75 5.9375 5.28438 5.9375 5.9375V16.625C5.9375 17.2781 6.47188 17.8125 7.125 17.8125H15.4375C16.0906 17.8125 16.625 17.2781 16.625 16.625V9.55938C16.625 9.2625 16.5062 8.96562 16.2688 8.72812ZM11.875 5.9375L15.3781 9.5H11.875V5.9375ZM7.125 16.625V5.9375H10.6875V9.5C10.6875 10.1531 11.2219 10.6875 11.875 10.6875H15.4375V16.625H7.125Z', fill='#C4C4C4')
                                    path(d='M3.5625 10.6875H2.375V2.375C2.375 1.72188 2.90938 1.1875 3.5625 1.1875H11.875V2.375H3.5625V10.6875Z', fill='#C4C4C4')

                        span <b>Port:  </b> <l>Активна</l>

                        span <b>Date of purchase:  </b> 16/04/22 16:44:15

                    .row__btns
                        .button-o Перезагрузка
                        .button-w-w Пауза

        .spollers.spollet-proxy(data-spollers data-one-spoller)
            .spollers__title.proxy(data-spoller) Резидентские прокси <span></span>
                .info
                    .info-btn Все: 3
                    .info-btn Активные: 2
                    .info-btn На паузе: 1
                    .info-btn Завершеенные: 0
            .spollers__body
                .spollet-proxy__row
                    .row__title MobileProxyVK1
                    .row__date.green 35д 12:16:01
                    .row__region
                        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 9 6', width='28', height='18')
                            rect(fill='#fff', width='9', height='3')
                            rect(fill='#d52b1e', y='3', width='9', height='3')
                            rect(fill='#0039a6', y='2', width='9', height='2')
                        span RU/Уфа/Tele2
                    .row__line
                        span <b>IP: </b> 5.61.52.223
                            button
                                svg(width='19', height='19', viewbox='0 0 19 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M16.2688 8.72812L12.6469 5.10625C12.4687 4.86875 12.1719 4.75 11.875 4.75H7.125C6.47188 4.75 5.9375 5.28438 5.9375 5.9375V16.625C5.9375 17.2781 6.47188 17.8125 7.125 17.8125H15.4375C16.0906 17.8125 16.625 17.2781 16.625 16.625V9.55938C16.625 9.2625 16.5062 8.96562 16.2688 8.72812ZM11.875 5.9375L15.3781 9.5H11.875V5.9375ZM7.125 16.625V5.9375H10.6875V9.5C10.6875 10.1531 11.2219 10.6875 11.875 10.6875H15.4375V16.625H7.125Z', fill='#C4C4C4')
                                    path(d='M3.5625 10.6875H2.375V2.375C2.375 1.72188 2.90938 1.1875 3.5625 1.1875H11.875V2.375H3.5625V10.6875Z', fill='#C4C4C4')

                        span <b>Port:  </b> 10264
                            button
                                svg(width='19', height='19', viewbox='0 0 19 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M16.2688 8.72812L12.6469 5.10625C12.4687 4.86875 12.1719 4.75 11.875 4.75H7.125C6.47188 4.75 5.9375 5.28438 5.9375 5.9375V16.625C5.9375 17.2781 6.47188 17.8125 7.125 17.8125H15.4375C16.0906 17.8125 16.625 17.2781 16.625 16.625V9.55938C16.625 9.2625 16.5062 8.96562 16.2688 8.72812ZM11.875 5.9375L15.3781 9.5H11.875V5.9375ZM7.125 16.625V5.9375H10.6875V9.5C10.6875 10.1531 11.2219 10.6875 11.875 10.6875H15.4375V16.625H7.125Z', fill='#C4C4C4')
                                    path(d='M3.5625 10.6875H2.375V2.375C2.375 1.72188 2.90938 1.1875 3.5625 1.1875H11.875V2.375H3.5625V10.6875Z', fill='#C4C4C4')

                        span <b>Port:  </b> <g>Активна</g>

                        span <b>Date of purchase:  </b> 16/04/22 16:44:15

                    .row__btns
                        .button-o Перезагрузка
                        .button-w-w Пауза
                .spollet-proxy__row
                    .row__title MobileProxyVK1
                    .row__date.green 35д 12:16:01
                    .row__region
                        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 9 6', width='28', height='18')
                            rect(fill='#fff', width='9', height='3')
                            rect(fill='#d52b1e', y='3', width='9', height='3')
                            rect(fill='#0039a6', y='2', width='9', height='2')
                        span RU/Уфа/Tele2
                    .row__line
                        span <b>IP: </b> 5.61.52.223
                            button
                                svg(width='19', height='19', viewbox='0 0 19 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M16.2688 8.72812L12.6469 5.10625C12.4687 4.86875 12.1719 4.75 11.875 4.75H7.125C6.47188 4.75 5.9375 5.28438 5.9375 5.9375V16.625C5.9375 17.2781 6.47188 17.8125 7.125 17.8125H15.4375C16.0906 17.8125 16.625 17.2781 16.625 16.625V9.55938C16.625 9.2625 16.5062 8.96562 16.2688 8.72812ZM11.875 5.9375L15.3781 9.5H11.875V5.9375ZM7.125 16.625V5.9375H10.6875V9.5C10.6875 10.1531 11.2219 10.6875 11.875 10.6875H15.4375V16.625H7.125Z', fill='#C4C4C4')
                                    path(d='M3.5625 10.6875H2.375V2.375C2.375 1.72188 2.90938 1.1875 3.5625 1.1875H11.875V2.375H3.5625V10.6875Z', fill='#C4C4C4')

                        span <b>Port:  </b> 10264
                            button
                                svg(width='19', height='19', viewbox='0 0 19 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M16.2688 8.72812L12.6469 5.10625C12.4687 4.86875 12.1719 4.75 11.875 4.75H7.125C6.47188 4.75 5.9375 5.28438 5.9375 5.9375V16.625C5.9375 17.2781 6.47188 17.8125 7.125 17.8125H15.4375C16.0906 17.8125 16.625 17.2781 16.625 16.625V9.55938C16.625 9.2625 16.5062 8.96562 16.2688 8.72812ZM11.875 5.9375L15.3781 9.5H11.875V5.9375ZM7.125 16.625V5.9375H10.6875V9.5C10.6875 10.1531 11.2219 10.6875 11.875 10.6875H15.4375V16.625H7.125Z', fill='#C4C4C4')
                                    path(d='M3.5625 10.6875H2.375V2.375C2.375 1.72188 2.90938 1.1875 3.5625 1.1875H11.875V2.375H3.5625V10.6875Z', fill='#C4C4C4')

                        span <b>Port:  </b> <l>Активна</l>

                        span <b>Date of purchase:  </b> 16/04/22 16:44:15

                    .row__btns
                        .button-o Перезагрузка
                        .button-w-w Пауза
        .spollers.spollet-proxy(data-spollers data-one-spoller)
            .spollers__title.proxy(data-spoller) Серверные прокси <span></span>
                .info
                    .info-btn Все: 3
                    .info-btn Активные: 2
                    .info-btn На паузе: 1
                    .info-btn Завершеенные: 0
            .spollers__body
                .spollet-proxy__row
                    .row__title MobileProxyVK1
                    .row__date.green 35д 12:16:01
                    .row__region
                        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 9 6', width='28', height='18')
                            rect(fill='#fff', width='9', height='3')
                            rect(fill='#d52b1e', y='3', width='9', height='3')
                            rect(fill='#0039a6', y='2', width='9', height='2')
                        span RU/Уфа/Tele2
                    .row__line
                        span <b>IP: </b> 5.61.52.223
                            button
                                svg(width='19', height='19', viewbox='0 0 19 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M16.2688 8.72812L12.6469 5.10625C12.4687 4.86875 12.1719 4.75 11.875 4.75H7.125C6.47188 4.75 5.9375 5.28438 5.9375 5.9375V16.625C5.9375 17.2781 6.47188 17.8125 7.125 17.8125H15.4375C16.0906 17.8125 16.625 17.2781 16.625 16.625V9.55938C16.625 9.2625 16.5062 8.96562 16.2688 8.72812ZM11.875 5.9375L15.3781 9.5H11.875V5.9375ZM7.125 16.625V5.9375H10.6875V9.5C10.6875 10.1531 11.2219 10.6875 11.875 10.6875H15.4375V16.625H7.125Z', fill='#C4C4C4')
                                    path(d='M3.5625 10.6875H2.375V2.375C2.375 1.72188 2.90938 1.1875 3.5625 1.1875H11.875V2.375H3.5625V10.6875Z', fill='#C4C4C4')

                        span <b>Port:  </b> 10264
                            button
                                svg(width='19', height='19', viewbox='0 0 19 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M16.2688 8.72812L12.6469 5.10625C12.4687 4.86875 12.1719 4.75 11.875 4.75H7.125C6.47188 4.75 5.9375 5.28438 5.9375 5.9375V16.625C5.9375 17.2781 6.47188 17.8125 7.125 17.8125H15.4375C16.0906 17.8125 16.625 17.2781 16.625 16.625V9.55938C16.625 9.2625 16.5062 8.96562 16.2688 8.72812ZM11.875 5.9375L15.3781 9.5H11.875V5.9375ZM7.125 16.625V5.9375H10.6875V9.5C10.6875 10.1531 11.2219 10.6875 11.875 10.6875H15.4375V16.625H7.125Z', fill='#C4C4C4')
                                    path(d='M3.5625 10.6875H2.375V2.375C2.375 1.72188 2.90938 1.1875 3.5625 1.1875H11.875V2.375H3.5625V10.6875Z', fill='#C4C4C4')

                        span <b>Port:  </b> <g>Активна</g>

                        span <b>Date of purchase:  </b> 16/04/22 16:44:15

                    .row__btns
                        .button-o Перезагрузка
                        .button-w-w Пауза
                .spollet-proxy__row
                    .row__title MobileProxyVK1
                    .row__date.green 35д 12:16:01
                    .row__region
                        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 9 6', width='28', height='18')
                            rect(fill='#fff', width='9', height='3')
                            rect(fill='#d52b1e', y='3', width='9', height='3')
                            rect(fill='#0039a6', y='2', width='9', height='2')
                        span RU/Уфа/Tele2
                    .row__line
                        span <b>IP: </b> 5.61.52.223
                            button
                                svg(width='19', height='19', viewbox='0 0 19 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M16.2688 8.72812L12.6469 5.10625C12.4687 4.86875 12.1719 4.75 11.875 4.75H7.125C6.47188 4.75 5.9375 5.28438 5.9375 5.9375V16.625C5.9375 17.2781 6.47188 17.8125 7.125 17.8125H15.4375C16.0906 17.8125 16.625 17.2781 16.625 16.625V9.55938C16.625 9.2625 16.5062 8.96562 16.2688 8.72812ZM11.875 5.9375L15.3781 9.5H11.875V5.9375ZM7.125 16.625V5.9375H10.6875V9.5C10.6875 10.1531 11.2219 10.6875 11.875 10.6875H15.4375V16.625H7.125Z', fill='#C4C4C4')
                                    path(d='M3.5625 10.6875H2.375V2.375C2.375 1.72188 2.90938 1.1875 3.5625 1.1875H11.875V2.375H3.5625V10.6875Z', fill='#C4C4C4')

                        span <b>Port:  </b> 10264
                            button
                                svg(width='19', height='19', viewbox='0 0 19 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M16.2688 8.72812L12.6469 5.10625C12.4687 4.86875 12.1719 4.75 11.875 4.75H7.125C6.47188 4.75 5.9375 5.28438 5.9375 5.9375V16.625C5.9375 17.2781 6.47188 17.8125 7.125 17.8125H15.4375C16.0906 17.8125 16.625 17.2781 16.625 16.625V9.55938C16.625 9.2625 16.5062 8.96562 16.2688 8.72812ZM11.875 5.9375L15.3781 9.5H11.875V5.9375ZM7.125 16.625V5.9375H10.6875V9.5C10.6875 10.1531 11.2219 10.6875 11.875 10.6875H15.4375V16.625H7.125Z', fill='#C4C4C4')
                                    path(d='M3.5625 10.6875H2.375V2.375C2.375 1.72188 2.90938 1.1875 3.5625 1.1875H11.875V2.375H3.5625V10.6875Z', fill='#C4C4C4')

                        span <b>Port:  </b> <l>Активна</l>

                        span <b>Date of purchase:  </b> 16/04/22 16:44:15

                    .row__btns
                        .button-o Перезагрузка
                        .button-w-w Пауза


