section.spoller-proxy
    .spoller-proxy__title Мои прокси
    .spoller-proxy__grid
        .spoller-proxy__body(data-spollers data-one-spoller)
            .spoller-proxy__name(data-spoller) Мобильные прокси <span class="spoller-proxy-arrow"></span>
            .spoller-proxy__wrapper
                .spoller-proxy__top-btn
                    .spoller-proxy-filter-btns(data-simplebar)
                        button.info-btn Все: 3
                        button.info-btn Активные: 2
                        button.info-btn На паузе: 1
                        button.info-btn Завершеенные: 0
                    a.spoller-proxy__btn-loading
                        svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1',  viewbox='0 0 256 256', xml:space='preserve')
                            defs
                            g(style='stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;', transform='translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)')
                                path(d='M 66.31 44.465 c -0.845 -0.712 -2.107 -0.604 -2.818 0.239 L 47 64.261 V 2 c 0 -1.104 -0.896 -2 -2 -2 s -2 0.896 -2 2 v 62.261 L 26.508 44.705 c -0.712 -0.845 -1.974 -0.952 -2.818 -0.24 c -0.845 0.712 -0.952 1.974 -0.24 2.818 l 20.021 23.741 c 0.016 0.019 0.037 0.032 0.053 0.051 c 0.058 0.064 0.12 0.121 0.185 0.177 c 0.041 0.034 0.079 0.07 0.122 0.101 c 0.072 0.052 0.149 0.095 0.228 0.138 c 0.042 0.023 0.082 0.049 0.126 0.068 c 0.092 0.041 0.19 0.071 0.289 0.098 c 0.035 0.01 0.068 0.025 0.104 0.032 c 0.136 0.029 0.276 0.046 0.421 0.046 c 0.145 0 0.285 -0.017 0.421 -0.046 c 0.036 -0.008 0.07 -0.023 0.105 -0.033 c 0.098 -0.027 0.195 -0.056 0.287 -0.097 c 0.045 -0.02 0.086 -0.047 0.129 -0.07 c 0.077 -0.042 0.153 -0.084 0.224 -0.135 c 0.045 -0.032 0.085 -0.069 0.127 -0.105 c 0.063 -0.054 0.124 -0.11 0.18 -0.172 c 0.017 -0.019 0.039 -0.033 0.056 -0.053 L 66.55 47.283 C 67.262 46.439 67.154 45.177 66.31 44.465 z', style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;', transform=' matrix(1 0 0 1 0 0) ', stroke-linecap='round')
                                path(d='M 82.295 90 H 7.706 c -1.104 0 -2 -0.896 -2 -2 V 65.892 c 0 -1.104 0.896 -2 2 -2 s 2 0.896 2 2 V 86 h 70.589 V 65.892 c 0 -1.104 0.896 -2 2 -2 s 2 0.896 2 2 V 88 C 84.295 89.104 83.399 90 82.295 90 z', style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;', transform=' matrix(1 0 0 1 0 0) ', stroke-linecap='round')

                .spollet-proxy__row
                    .row__title MobileProxyVK1
                    .row__date.green 35д 12:16:01
                    .row__region
                        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 9 6', width='28', height='18')
                            rect(fill='#fff', width='9', height='3')
                            rect(fill='#d52b1e', y='3', width='9', height='3')
                            rect(fill='#0039a6', y='2', width='9', height='2')
                        span RU/Уфа/Tele2
                    .row__line
                        span <b>IP: </b> 5.61.52.223
                            button
                                svg(width='19', height='19', viewbox='0 0 19 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M16.2688 8.72812L12.6469 5.10625C12.4687 4.86875 12.1719 4.75 11.875 4.75H7.125C6.47188 4.75 5.9375 5.28438 5.9375 5.9375V16.625C5.9375 17.2781 6.47188 17.8125 7.125 17.8125H15.4375C16.0906 17.8125 16.625 17.2781 16.625 16.625V9.55938C16.625 9.2625 16.5062 8.96562 16.2688 8.72812ZM11.875 5.9375L15.3781 9.5H11.875V5.9375ZM7.125 16.625V5.9375H10.6875V9.5C10.6875 10.1531 11.2219 10.6875 11.875 10.6875H15.4375V16.625H7.125Z', fill='#C4C4C4')
                                    path(d='M3.5625 10.6875H2.375V2.375C2.375 1.72188 2.90938 1.1875 3.5625 1.1875H11.875V2.375H3.5625V10.6875Z', fill='#C4C4C4')

                        span <b>Port:  </b> 10264
                            button
                                svg(width='19', height='19', viewbox='0 0 19 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M16.2688 8.72812L12.6469 5.10625C12.4687 4.86875 12.1719 4.75 11.875 4.75H7.125C6.47188 4.75 5.9375 5.28438 5.9375 5.9375V16.625C5.9375 17.2781 6.47188 17.8125 7.125 17.8125H15.4375C16.0906 17.8125 16.625 17.2781 16.625 16.625V9.55938C16.625 9.2625 16.5062 8.96562 16.2688 8.72812ZM11.875 5.9375L15.3781 9.5H11.875V5.9375ZM7.125 16.625V5.9375H10.6875V9.5C10.6875 10.1531 11.2219 10.6875 11.875 10.6875H15.4375V16.625H7.125Z', fill='#C4C4C4')
                                    path(d='M3.5625 10.6875H2.375V2.375C2.375 1.72188 2.90938 1.1875 3.5625 1.1875H11.875V2.375H3.5625V10.6875Z', fill='#C4C4C4')

                        span <b>Port:  </b> <g>Активна</g>

                        span <b>Date of purchase:  </b> 16/04/22 16:44:15

                    .row__btns
                        .button-o Перезагрузка
                        .button-w-w Пауза
                .spollet-proxy__row
                    .row__title MobileProxyVK1
                    .row__date.green 35д 12:16:01
                    .row__region
                        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 9 6', width='28', height='18')
                            rect(fill='#fff', width='9', height='3')
                            rect(fill='#d52b1e', y='3', width='9', height='3')
                            rect(fill='#0039a6', y='2', width='9', height='2')
                        span RU/Уфа/Tele2
                    .row__line
                        span <b>IP: </b> 5.61.52.223
                            button
                                svg(width='19', height='19', viewbox='0 0 19 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M16.2688 8.72812L12.6469 5.10625C12.4687 4.86875 12.1719 4.75 11.875 4.75H7.125C6.47188 4.75 5.9375 5.28438 5.9375 5.9375V16.625C5.9375 17.2781 6.47188 17.8125 7.125 17.8125H15.4375C16.0906 17.8125 16.625 17.2781 16.625 16.625V9.55938C16.625 9.2625 16.5062 8.96562 16.2688 8.72812ZM11.875 5.9375L15.3781 9.5H11.875V5.9375ZM7.125 16.625V5.9375H10.6875V9.5C10.6875 10.1531 11.2219 10.6875 11.875 10.6875H15.4375V16.625H7.125Z', fill='#C4C4C4')
                                    path(d='M3.5625 10.6875H2.375V2.375C2.375 1.72188 2.90938 1.1875 3.5625 1.1875H11.875V2.375H3.5625V10.6875Z', fill='#C4C4C4')

                        span <b>Port:  </b> 10264
                            button
                                svg(width='19', height='19', viewbox='0 0 19 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M16.2688 8.72812L12.6469 5.10625C12.4687 4.86875 12.1719 4.75 11.875 4.75H7.125C6.47188 4.75 5.9375 5.28438 5.9375 5.9375V16.625C5.9375 17.2781 6.47188 17.8125 7.125 17.8125H15.4375C16.0906 17.8125 16.625 17.2781 16.625 16.625V9.55938C16.625 9.2625 16.5062 8.96562 16.2688 8.72812ZM11.875 5.9375L15.3781 9.5H11.875V5.9375ZM7.125 16.625V5.9375H10.6875V9.5C10.6875 10.1531 11.2219 10.6875 11.875 10.6875H15.4375V16.625H7.125Z', fill='#C4C4C4')
                                    path(d='M3.5625 10.6875H2.375V2.375C2.375 1.72188 2.90938 1.1875 3.5625 1.1875H11.875V2.375H3.5625V10.6875Z', fill='#C4C4C4')

                        span <b>Port:  </b> <l>Активна</l>

                        span <b>Date of purchase:  </b> 16/04/22 16:44:15

                    .row__btns
                        .button-o Перезагрузка
                        .button-w-w Пауза
        .spoller-proxy__body(data-spollers data-one-spoller)
            .spoller-proxy__name(data-spoller) Резидентские прокси <span class="spoller-proxy-arrow"></span>
            .spoller-proxy__wrapper
                .spoller-proxy-filter-btns(data-simplebar)
                    button.info-btn Все: 3
                    button.info-btn Активные: 2
                    button.info-btn На паузе: 1
                    button.info-btn Завершеенные: 0
                .spollet-proxy__row
                    .row__title MobileProxyVK1
                    .row__date.green 35д 12:16:01
                    .row__region
                        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 9 6', width='28', height='18')
                            rect(fill='#fff', width='9', height='3')
                            rect(fill='#d52b1e', y='3', width='9', height='3')
                            rect(fill='#0039a6', y='2', width='9', height='2')
                        span RU/Уфа/Tele2
                    .row__line
                        span <b>IP: </b> 5.61.52.223
                            button
                                svg(width='19', height='19', viewbox='0 0 19 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M16.2688 8.72812L12.6469 5.10625C12.4687 4.86875 12.1719 4.75 11.875 4.75H7.125C6.47188 4.75 5.9375 5.28438 5.9375 5.9375V16.625C5.9375 17.2781 6.47188 17.8125 7.125 17.8125H15.4375C16.0906 17.8125 16.625 17.2781 16.625 16.625V9.55938C16.625 9.2625 16.5062 8.96562 16.2688 8.72812ZM11.875 5.9375L15.3781 9.5H11.875V5.9375ZM7.125 16.625V5.9375H10.6875V9.5C10.6875 10.1531 11.2219 10.6875 11.875 10.6875H15.4375V16.625H7.125Z', fill='#C4C4C4')
                                    path(d='M3.5625 10.6875H2.375V2.375C2.375 1.72188 2.90938 1.1875 3.5625 1.1875H11.875V2.375H3.5625V10.6875Z', fill='#C4C4C4')

                        span <b>Port:  </b> 10264
                            button
                                svg(width='19', height='19', viewbox='0 0 19 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M16.2688 8.72812L12.6469 5.10625C12.4687 4.86875 12.1719 4.75 11.875 4.75H7.125C6.47188 4.75 5.9375 5.28438 5.9375 5.9375V16.625C5.9375 17.2781 6.47188 17.8125 7.125 17.8125H15.4375C16.0906 17.8125 16.625 17.2781 16.625 16.625V9.55938C16.625 9.2625 16.5062 8.96562 16.2688 8.72812ZM11.875 5.9375L15.3781 9.5H11.875V5.9375ZM7.125 16.625V5.9375H10.6875V9.5C10.6875 10.1531 11.2219 10.6875 11.875 10.6875H15.4375V16.625H7.125Z', fill='#C4C4C4')
                                    path(d='M3.5625 10.6875H2.375V2.375C2.375 1.72188 2.90938 1.1875 3.5625 1.1875H11.875V2.375H3.5625V10.6875Z', fill='#C4C4C4')

                        span <b>Port:  </b> <g>Активна</g>

                        span <b>Date of purchase:  </b> 16/04/22 16:44:15

                    .row__btns
                        .button-o Перезагрузка
                        .button-w-w Пауза
                .spollet-proxy__row
                    .row__title MobileProxyVK1
                    .row__date.green 35д 12:16:01
                    .row__region
                        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 9 6', width='28', height='18')
                            rect(fill='#fff', width='9', height='3')
                            rect(fill='#d52b1e', y='3', width='9', height='3')
                            rect(fill='#0039a6', y='2', width='9', height='2')
                        span RU/Уфа/Tele2
                    .row__line
                        span <b>IP: </b> 5.61.52.223
                            button
                                svg(width='19', height='19', viewbox='0 0 19 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M16.2688 8.72812L12.6469 5.10625C12.4687 4.86875 12.1719 4.75 11.875 4.75H7.125C6.47188 4.75 5.9375 5.28438 5.9375 5.9375V16.625C5.9375 17.2781 6.47188 17.8125 7.125 17.8125H15.4375C16.0906 17.8125 16.625 17.2781 16.625 16.625V9.55938C16.625 9.2625 16.5062 8.96562 16.2688 8.72812ZM11.875 5.9375L15.3781 9.5H11.875V5.9375ZM7.125 16.625V5.9375H10.6875V9.5C10.6875 10.1531 11.2219 10.6875 11.875 10.6875H15.4375V16.625H7.125Z', fill='#C4C4C4')
                                    path(d='M3.5625 10.6875H2.375V2.375C2.375 1.72188 2.90938 1.1875 3.5625 1.1875H11.875V2.375H3.5625V10.6875Z', fill='#C4C4C4')

                        span <b>Port:  </b> 10264
                            button
                                svg(width='19', height='19', viewbox='0 0 19 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M16.2688 8.72812L12.6469 5.10625C12.4687 4.86875 12.1719 4.75 11.875 4.75H7.125C6.47188 4.75 5.9375 5.28438 5.9375 5.9375V16.625C5.9375 17.2781 6.47188 17.8125 7.125 17.8125H15.4375C16.0906 17.8125 16.625 17.2781 16.625 16.625V9.55938C16.625 9.2625 16.5062 8.96562 16.2688 8.72812ZM11.875 5.9375L15.3781 9.5H11.875V5.9375ZM7.125 16.625V5.9375H10.6875V9.5C10.6875 10.1531 11.2219 10.6875 11.875 10.6875H15.4375V16.625H7.125Z', fill='#C4C4C4')
                                    path(d='M3.5625 10.6875H2.375V2.375C2.375 1.72188 2.90938 1.1875 3.5625 1.1875H11.875V2.375H3.5625V10.6875Z', fill='#C4C4C4')

                        span <b>Port:  </b> <l>Активна</l>

                        span <b>Date of purchase:  </b> 16/04/22 16:44:15

                    .row__btns
                        .button-o Перезагрузка
                        .button-w-w Пауза
        .spoller-proxy__body(data-spollers data-one-spoller)
            .spoller-proxy__name(data-spoller) Серверные прокси <span class="spoller-proxy-arrow"></span>
            .spoller-proxy__wrapper
                .spoller-proxy-filter-btns(data-simplebar)
                    button.info-btn Все: 3
                    button.info-btn Активные: 2
                    button.info-btn На паузе: 1
                    button.info-btn Завершеенные: 0
                .spollet-proxy__row
                    .row__title MobileProxyVK1
                    .row__date.green 35д 12:16:01
                    .row__region
                        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 9 6', width='28', height='18')
                            rect(fill='#fff', width='9', height='3')
                            rect(fill='#d52b1e', y='3', width='9', height='3')
                            rect(fill='#0039a6', y='2', width='9', height='2')
                        span RU/Уфа/Tele2
                    .row__line
                        span <b>IP: </b> 5.61.52.223
                            button
                                svg(width='19', height='19', viewbox='0 0 19 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M16.2688 8.72812L12.6469 5.10625C12.4687 4.86875 12.1719 4.75 11.875 4.75H7.125C6.47188 4.75 5.9375 5.28438 5.9375 5.9375V16.625C5.9375 17.2781 6.47188 17.8125 7.125 17.8125H15.4375C16.0906 17.8125 16.625 17.2781 16.625 16.625V9.55938C16.625 9.2625 16.5062 8.96562 16.2688 8.72812ZM11.875 5.9375L15.3781 9.5H11.875V5.9375ZM7.125 16.625V5.9375H10.6875V9.5C10.6875 10.1531 11.2219 10.6875 11.875 10.6875H15.4375V16.625H7.125Z', fill='#C4C4C4')
                                    path(d='M3.5625 10.6875H2.375V2.375C2.375 1.72188 2.90938 1.1875 3.5625 1.1875H11.875V2.375H3.5625V10.6875Z', fill='#C4C4C4')

                        span <b>Port:  </b> 10264
                            button
                                svg(width='19', height='19', viewbox='0 0 19 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M16.2688 8.72812L12.6469 5.10625C12.4687 4.86875 12.1719 4.75 11.875 4.75H7.125C6.47188 4.75 5.9375 5.28438 5.9375 5.9375V16.625C5.9375 17.2781 6.47188 17.8125 7.125 17.8125H15.4375C16.0906 17.8125 16.625 17.2781 16.625 16.625V9.55938C16.625 9.2625 16.5062 8.96562 16.2688 8.72812ZM11.875 5.9375L15.3781 9.5H11.875V5.9375ZM7.125 16.625V5.9375H10.6875V9.5C10.6875 10.1531 11.2219 10.6875 11.875 10.6875H15.4375V16.625H7.125Z', fill='#C4C4C4')
                                    path(d='M3.5625 10.6875H2.375V2.375C2.375 1.72188 2.90938 1.1875 3.5625 1.1875H11.875V2.375H3.5625V10.6875Z', fill='#C4C4C4')

                        span <b>Port:  </b> <g>Активна</g>

                        span <b>Date of purchase:  </b> 16/04/22 16:44:15

                    .row__btns
                        .button-o Перезагрузка
                        .button-w-w Пауза
                .spollet-proxy__row
                    .row__title MobileProxyVK1
                    .row__date.green 35д 12:16:01
                    .row__region
                        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 9 6', width='28', height='18')
                            rect(fill='#fff', width='9', height='3')
                            rect(fill='#d52b1e', y='3', width='9', height='3')
                            rect(fill='#0039a6', y='2', width='9', height='2')
                        span RU/Уфа/Tele2
                    .row__line
                        span <b>IP: </b> 5.61.52.223
                            button
                                svg(width='19', height='19', viewbox='0 0 19 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M16.2688 8.72812L12.6469 5.10625C12.4687 4.86875 12.1719 4.75 11.875 4.75H7.125C6.47188 4.75 5.9375 5.28438 5.9375 5.9375V16.625C5.9375 17.2781 6.47188 17.8125 7.125 17.8125H15.4375C16.0906 17.8125 16.625 17.2781 16.625 16.625V9.55938C16.625 9.2625 16.5062 8.96562 16.2688 8.72812ZM11.875 5.9375L15.3781 9.5H11.875V5.9375ZM7.125 16.625V5.9375H10.6875V9.5C10.6875 10.1531 11.2219 10.6875 11.875 10.6875H15.4375V16.625H7.125Z', fill='#C4C4C4')
                                    path(d='M3.5625 10.6875H2.375V2.375C2.375 1.72188 2.90938 1.1875 3.5625 1.1875H11.875V2.375H3.5625V10.6875Z', fill='#C4C4C4')

                        span <b>Port:  </b> 10264
                            button
                                svg(width='19', height='19', viewbox='0 0 19 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M16.2688 8.72812L12.6469 5.10625C12.4687 4.86875 12.1719 4.75 11.875 4.75H7.125C6.47188 4.75 5.9375 5.28438 5.9375 5.9375V16.625C5.9375 17.2781 6.47188 17.8125 7.125 17.8125H15.4375C16.0906 17.8125 16.625 17.2781 16.625 16.625V9.55938C16.625 9.2625 16.5062 8.96562 16.2688 8.72812ZM11.875 5.9375L15.3781 9.5H11.875V5.9375ZM7.125 16.625V5.9375H10.6875V9.5C10.6875 10.1531 11.2219 10.6875 11.875 10.6875H15.4375V16.625H7.125Z', fill='#C4C4C4')
                                    path(d='M3.5625 10.6875H2.375V2.375C2.375 1.72188 2.90938 1.1875 3.5625 1.1875H11.875V2.375H3.5625V10.6875Z', fill='#C4C4C4')

                        span <b>Port:  </b> <l>Активна</l>

                        span <b>Date of purchase:  </b> 16/04/22 16:44:15

                    .row__btns
                        .button-o Перезагрузка
                        .button-w-w Пауза




