.tab-api(data-tabs data-tabs-animate)
    .tab-api__nav(data-tabs-titles)
        button(data-tabs-title='1').tabs__title._tab-active  Веб-мастерам
        button(data-tabs-title='2').tabs__title  разработчикам

    .tab-api__content(data-tabs-body)
        .main-tab__body(data-tabs-item="1")
            .text-style
                h6 Размещайте реферальную ссылку - получай отчисления
                ul
                    li <span> <b>3 % от стоимости сервиса являются стартовыми</b> </span> по умолчанию для <span> <u>ТОП 5 сервисов</u> </span> по <span> <u>ТОП 10 странам.</u> </span>
                    li <span> <b>4 %</b></span> будут начисляться если через ваш софт будет <span> <b>более 30к активаций в месяц.</b></span>
                    li <span> <b>5 % для тех, кто не просто добавляет наш сервис в свой софт, НО указывает нас как партнеров,</b></span> выделяет наш сервис среди прочих цветом или рекомендуя своим пользователям
                br
                br
                br
                h6 обязательное условие для получения отчислений
                blockquote  <span> <b>Вашим софтом должны пользоваться как минимум 5 человек.</b> </span> Если вы единоличный пользователь софта, который регистрируете - отчислений не будет. Рекомендуем написать нам с просьбой о ценообразовании на нужный вам сервис.
                br
                br
                br
                b Ваш софт используется не для ТОП 5 сервисов в ТОП 10 странах(подтягиваются как в партнерской программе, 1 раз в неделю)? <span>Тогда будете получать отчисления х1,5!</span>
                br
                br
                p <b>Если ваш софт совсем уникален и только благодаря вам идет регистрация сервиса</b> - обращайтесь к нам в телеграм <span> <b>@smsactivate_ru</b> </span> и мы обязательно с Вами <span>договоримся о специальных условиях;)"</span>
                br
                br
                br
                br
                h6 Стань участником прямо сейчас !
                p Для того, чтобы подключиться к партнерской программе, <span> <b>необходимо подать заявку на рассмотрение вашей программы.</b> </span>
                p Со списком требований к программе можно ознакомиться <a href="#"><b>здесь</b></a>
                br
                br
                form
                    input.input(placeholder="Название вышей программы")
                    input.input(placeholder="Веб-стр вышей программы")
                    input.input(placeholder="Ссылка на тему с отзывами")
                    input.input(placeholder="Telegram")
                    textarea.input(placeholder="Опишите функционал вашей программы")
                    .capcha
                    input.input(placeholder="Введите код с картинки")
                    button.button-b-b отправить

        .main-tab__body(data-tabs-item="2")
            .text-style
                h6 Размещайте реферальную ссылку - получай отчисления
                ul
                    li <span> <b>3 % от стоимости сервиса являются стартовыми</b> </span> по умолчанию для <span> <u>ТОП 5 сервисов</u> </span> по <span> <u>ТОП 10 странам.</u> </span>
                    li <span> <b>4 %</b></span> будут начисляться если через ваш софт будет <span> <b>более 30к активаций в месяц.</b></span>
                    li <span> <b>5 % для тех, кто не просто добавляет наш сервис в свой софт, НО указывает нас как партнеров,</b></span> выделяет наш сервис среди прочих цветом или рекомендуя своим пользователям
                br
                br
                br
                h6 обязательное условие для получения отчислений
                blockquote  <span> <b>Вашим софтом должны пользоваться как минимум 5 человек.</b> </span> Если вы единоличный пользователь софта, который регистрируете - отчислений не будет. Рекомендуем написать нам с просьбой о ценообразовании на нужный вам сервис.
                br
                br
                br
                b Ваш софт используется не для ТОП 5 сервисов в ТОП 10 странах(подтягиваются как в партнерской программе, 1 раз в неделю)? <span>Тогда будете получать отчисления х1,5!</span>
                br
                br
                p <b>Если ваш софт совсем уникален и только благодаря вам идет регистрация сервиса</b> - обращайтесь к нам в телеграм <span> <b>@smsactivate_ru</b> </span> и мы обязательно с Вами <span>договоримся о специальных условиях;)"</span>
                br
                br
                br
                br
                h6 Стань участником прямо сейчас !
                p Для того, чтобы подключиться к партнерской программе, <span> <b>необходимо подать заявку на рассмотрение вашей программы.</b> </span>
                p Со списком требований к программе можно ознакомиться <a href="#"><b>здесь</b></a>
                br
                br
                form
                    input.input(placeholder="Название вышей программы")
                    input.input(placeholder="Веб-стр вышей программы")
                    input.input(placeholder="Ссылка на тему с отзывами")
                    input.input(placeholder="Telegram")
                    textarea.input(placeholder="Опишите функционал вашей программы")
                    .capcha
                    input.input(placeholder="Введите код с картинки")
                    button.button-b-b отправить
