section.data
    h4.data__title Персональные данные
    .data__grid.data-grid
        .data-grid__item
            div Ваш ID
            span 1286501
        .data-grid__item
            div Ваш E-mail
            span varlamova_olia@keepcode.ru

    button.button-o Сменить пароль
