.blog-aside
    .blog-aside__top
        h5 Фильтр
        button.blog-aside__hide
            svg(width='37', height='37', viewbox='0 0 37 37', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd', clip-rule='evenodd', d='M22.9639 8.41674L32.5578 17.9145C33.1466 18.4973 33.1514 19.447 32.5685 20.0358L23.0708 29.6297C22.488 30.2184 21.5382 30.2232 20.9495 29.6404C20.3608 29.0575 20.356 28.1078 20.9388 27.5191L27.8888 20.4987L3.51045 20.6215L3.49534 17.6215L27.8737 17.4987L20.8533 10.5487C20.2646 9.96589 20.2598 9.01615 20.8427 8.42742C21.4255 7.83869 22.3752 7.83391 22.9639 8.41674Z', fill='#EA5400')

    .blog-aside__column
        .blog-aside__title Рубрики
        .blog-aside__search.blog__search
            input.blog-search__input._seach(placeholder='Поиск по рубрикам' type="search" name='categories' data-input-search="categories")
            svg(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd', clip-rule='evenodd', d='M12.1223 10.9273C14.1911 8.27027 14.0042 4.42622 11.5617 1.98367C8.91678 -0.661223 4.62856 -0.661223 1.98367 1.98367C-0.661223 4.62856 -0.661223 8.91678 1.98367 11.5617C4.42622 14.0042 8.27027 14.1911 10.9273 12.1223C10.9387 12.1352 10.9506 12.1479 10.963 12.1603L14.5548 15.752C14.8854 16.0827 15.4214 16.0827 15.752 15.752C16.0827 15.4214 16.0827 14.8854 15.752 14.5548L12.1603 10.963C12.1479 10.9506 12.1352 10.9387 12.1223 10.9273ZM10.3644 3.18092C12.3481 5.16459 12.3481 8.38075 10.3644 10.3644C8.38075 12.3481 5.16459 12.3481 3.18092 10.3644C1.19725 8.38075 1.19725 5.16459 3.18092 3.18092C5.16459 1.19725 8.38075 1.19725 10.3644 3.18092Z', fill='#727272')

        .blog-aside__list.blog-aside-list._search-elements(data-block-search="categories")
            .blog-aside-list__el Google
            .blog-aside-list__el Яндекс
            .blog-aside-list__el Лучшее от SMS activate
            .blog-aside-list__el Google
            .blog-aside-list__el Яндекс
            .blog-aside-list__el Лучшее от SMS activate
            .blog-aside-list__el Google
            .blog-aside-list__el Яндекс
            .blog-aside-list__el Лучшее от SMS activate
            .blog-aside-list__el Google

    .blog-aside__column
        .blog-aside__title Авторы
        .blog-aside__search.blog__search
            input.blog-search__input._seach(placeholder='Поиск по авторам' type="search" name='author' data-input-search="author")
            svg(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd', clip-rule='evenodd', d='M12.1223 10.9273C14.1911 8.27027 14.0042 4.42622 11.5617 1.98367C8.91678 -0.661223 4.62856 -0.661223 1.98367 1.98367C-0.661223 4.62856 -0.661223 8.91678 1.98367 11.5617C4.42622 14.0042 8.27027 14.1911 10.9273 12.1223C10.9387 12.1352 10.9506 12.1479 10.963 12.1603L14.5548 15.752C14.8854 16.0827 15.4214 16.0827 15.752 15.752C16.0827 15.4214 16.0827 14.8854 15.752 14.5548L12.1603 10.963C12.1479 10.9506 12.1352 10.9387 12.1223 10.9273ZM10.3644 3.18092C12.3481 5.16459 12.3481 8.38075 10.3644 10.3644C8.38075 12.3481 5.16459 12.3481 3.18092 10.3644C1.19725 8.38075 1.19725 5.16459 3.18092 3.18092C5.16459 1.19725 8.38075 1.19725 10.3644 3.18092Z', fill='#727272')

        .blog-aside__list.blog-aside-list._search-elements(data-block-search="author")
            .blog-aside-list__el SMS activate edition
            .blog-aside-list__el Smsprofi
            .blog-aside-list__el Chuck Robbins
            .blog-aside-list__el Best_comment
            .blog-aside-list__el SMS activate edition
            .blog-aside-list__el Smsprofi
            .blog-aside-list__el Chuck Robbins
            .blog-aside-list__el Best_comment
            .blog-aside-list__el SMS activate edition
            .blog-aside-list__el Smsprofi
            .blog-aside-list__el Chuck Robbins
            .blog-aside-list__el Best_comment
            .blog-aside-list__el SMS activate edition
            .blog-aside-list__el Smsprofi
            .blog-aside-list__el Chuck Robbins
            .blog-aside-list__el Best_comment

    button.button-o показать
    button.button-w-w сбросить фильтр

