.blogInternal
    .blogInternal__grid
            h1.blogInternal__title super post
            .blogInternal__img-ibg
                picture
                    source(srcset="img/png/google.webp")
                    img(src="img/png/google.png" alt="")

            .blogInternal__desctiption
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur deleniti dolorum ducimus
                    |esse fugiat libero mollitia nam nostrum officia perferendis, perspiciatis porro praesentium quia quod repudiandae
                    |temporibus. Atque dolorem eum magnam non repudiandae. Aliquid amet autem beatae cupiditate distinctio dolor eligendi
                    |est illo itaque minus, quam repudiandae! Consequatur modi perspiciatis quo sapiente vero! Aliquid, dolorem error excepturi
                    |id nisi possimus provident quia sequi? Aliquid consequatur eaque est hic ipsa, nobis sunt vel voluptas. Accusamus, adipisci
                    |aliquid animi cupiditate delectus dolor dolorem facere inventore modi optio soluta unde veritatis voluptatem. Fugit illo
                    |rerum sapiente sequi. Aliquid amet aspernatur dignissimos dolore eum eveniet excepturi facilis optio veritatis. A ab aliquid
                    |architecto facere facilis illum minima minus molestiae nemo, nisi non quidem quo recusandae reprehenderit sequi, tempora
                    |tempore tenetur ut voluptate voluptatibus. Delectus eligendi fugit perferendis possimus voluptas? Aliquam aspernatur
                    |autem corporis distinctio, dolore doloremque facilis illo labore nihil quos saepe sequi soluta sunt tempora
                    |voluptatem. Ab aperiam culpa, dolor, eligendi, inventore labore magnam nobis non officiis praesentium provident
                    |quaerat quis quo reprehenderit sint soluta voluptatem! Assumenda blanditiis consequuntur cum distinctio dolorum eius harum
                    |minima obcaecati, odio optio placeat, possimus quaerat, reiciendis voluptate voluptatibus? Ab dolores doloribus ducimus
                    |earum eveniet iste, nam nemo quos repellat totam? A, ab architecto cumque delectus eos expedita, harum non nostrum optio
                    |recusandae rerum sunt vitae. A ad, aperiam at consequuntur corporis delectus dicta dolor expedita fugit hic ipsum itaque
                    |minus nam natus necessitatibus nisi nostrum nulla numquam obcaecati odio odit officiis praesentium quae qui repudiandae
                    |rerum sapiente sunt tempore tenetur ullam ut vitae voluptatem voluptatibus. Alias animi, architecto blanditiis deserunt,
                    |dolore explicabo facere harum impedit iure laboriosam magni molestias nostrum porro provident quidem quisquam quos
                    |recusandae reiciendis rem saepe sunt suscipit, tenetur ut velit voluptate. Accusantium ad at autem dolorum esse,
                    |facilis fugit illo, laboriosam modi necessitatibus nihil officiis perferendis provident quam ratione suscipit, ut
                    |vero voluptatum! Ad aliquid, amet architecto commodi delectus deserunt distinctio eum fugiat illo ipsa ipsam ipsum
                    |iste iusto laboriosam modi nam nemo nulla odit officiis perspiciatis, quam quasi quidem quo ratione repudiandae saepe
                    |tenetur. Adipisci debitis magni minima placeat recusandae. Accusamus culpa est fuga nemo nulla sapiente sequi unde vero.
                    |Adipisci at distinctio dolores ducimus, fugiat impedit ipsum laboriosam nisi nobis qui soluta tempore, tenetur, voluptas.
                    |Accusamus animi commodi dignissimos error est fuga fugit illum impedit ipsa laboriosam laborum maxime minus modi numquam
                    |omnis perspiciatis praesentium quo ratione saepe, suscipit voluptas voluptatem voluptatum. Ad aliquam deleniti eaque
                    |id ipsa minima officiis quam saepe, similique sit! A accusantium amet animi aperiam aspernatur atque, consequatur debitis deserunt
                    |dolore ducimus, ea error esse est expedita facere id impedit ipsum iste itaque iusto minima natus necessitatibus nemo nesciunt nisi
                    |nobis officia placeat quae repudiandae sed sunt tempore temporibus unde velit veniam veritatis voluptatibus. Accusantium corporis
                    |cupiditate ducimus esse et, exercitationem libero non perferendis reprehenderit saepe sed similique suscipit ut! Asperiores impedit
                    |maiores molestiae nesciunt perferendis quis reiciendis rerum? Aliquam aperiam consequatur doloremque fugiat magnam magni nobis
                    |quaerat quas, quia quisquam quos ratione sunt, temporibus voluptates!
