.blog__pagenation.blog-pagenation
    a.blog-pagenatio__nbtn-prev(href="#") Предыдущая
    ul.blog-pagenation__list
        li.active
            a(href='#') 1
        li
            a(href='#') 2
        li
            a(href='#') 3
        li ...
        li
            a(href='#') 32
    a.blog-pagenation__btn-next(href="#") Следующая
    a(href="#").blog-pagenation__btn-more Показать еще
