style(type="text/css").
    /*h1 {*/
    /*    font-size: 35px;*/
    /*    font-weight: 600;*/
    /*    margin-bottom: 35px;*/
    /*}*/

    .body_simplebar .simplebar-content {
        display: flex;
        gap: 30px;
    }

    img {
        max-width: 100%;
    }
.__container
    //select
    h1 select
    select.border-red
        option 1
        option 2
        option(selected) 3
        option(data-class='disabled') 4
    br
    br
    select.border-black
        option 1
        option 2
        option(selected) 3
        option(data-class='disabled') 4
    br
    br
    select.blur-bg
        option 1
        option(selected) 2
        option 3
        option 4
    br
    br
    hr(style='border-bottom: 1px solid #000;')
    br
    br

    // Tabs
    h1 Tabs
    .tabs(data-tabs="992" data-tabs-animate)
        .tabs__navigation(data-tabs-titles)
            button(data-tabs-title='1').tabs__title._tab-active  title 1
            button(data-tabs-title='2').tabs__title  title 2
            button(data-tabs-title='3').tabs__title  title 3
            button(data-tabs-title='4').tabs__title  title 4
        .tabs__content(data-tabs-body)
            .main-tab__body(data-tabs-item="1") 11111111Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aut dignissimos doloremque est eveniet ipsam minima modi quam. Accusamus aliquid cumque exercitationem facilis iusto neque numquam quas quos sit ullam.
            .main-tab__body(data-tabs-item="2") 22222222Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aut dignissimos doloremque est eveniet ipsam minima modi quam. Accusamus aliquid cumque exercitationem facilis iusto neque numquam quas quos sit ullam.
            .main-tab__body(data-tabs-item="3") 33333333Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aut dignissimos doloremque est eveniet ipsam minima modi quam. Accusamus aliquid cumque exercitationem facilis iusto neque numquam quas quos sit ullam.
            .main-tab__body(data-tabs-item="4") 444444444Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aut dignissimos doloremque est eveniet ipsam minima modi quam. Accusamus aliquid cumque exercitationem facilis iusto neque numquam quas quos sit ullam.

    br
    br
    hr(style='border-bottom: 1px solid #000;')
    br
    br

    // Spollers
    h1 Spollers
    .spollers.spoller-no-border-red-arrow(data-spollers)
        .spollers__title(data-spoller) Отлёжка
        .spollers__body
            +checkbox_arrow('q', 'q','Средняя цена 1')
            +checkbox_arrow('w', 'w','Средняя цена 2')
            +checkbox_arrow('e', 'e','Средняя цена 3')
            +checkbox_arrow('r', 'r','Средняя цена 4')
            +checkbox_arrow('t', 't','Средняя цена 5')


    br
    br
    hr(style='border-bottom: 1px solid #000;')
    br
    br

    //showmore
    h1 showmore
    .showmore(data-showmore='size')
        ul(data-showmore-content='15')
            li список 1
            li список 2
            li список 3
            li список 4
        .showmore__btn(data-showmore-button)
            span свернуть

    br
    br
    .showmore(data-showmore='items')
        ul(data-showmore-content="2")
            li список 1
            li список 2
            li список 3
            li список 4
            li список 5
            li список 6
        .showmore__btn(data-showmore-button) свернуть

    br
    br
    hr(style='border-bottom: 1px solid #000;')
    br
    br

    //da
    h1 da
    .body_1(style="background-color: red; padding: 30px")
        ol(data-da=".body_2,992,2")
            li список 1
            li список 2
            li список 3
            li список 4
            li список 5
            li список 6

    .body_2(style="background-color: blue;padding: 30px")

    br
    br
    hr(style='border-bottom: 1px solid #000;')
    br
    br

    //range
    h1 range
    .rating
        .rating__inputs
            .slot
                input#price-start( type="number" value='')
                label(for="price-start") от
            .slot
                input#price-end( type="number" value='')
                label(for="price-end") до
        .rating__slider#range

    br
    br
    hr(style='border-bottom: 1px solid #000;')
    br
    br

    //simplebar
    h1 simplebar

    .body(data-simplebar style='max-height: 200px')
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias amet aperiam, at culpa dolor eum hic illum laboriosam laudantium magni molestias nemo, nesciunt nulla odio perspiciatis qui quod repudiandae velit veniam. Ad adipisci atque consectetur cumque dolorem earum eos et harum id inventore iste labore laudantium magni molestias nam necessitatibus, nihil odio placeat praesentium ratione reiciendis rem repellendus saepe sapiente sunt veritatis voluptate. Accusantium cupiditate dignissimos explicabo facilis libero omnis reiciendis? Aperiam aspernatur dolorum et excepturi expedita fugiat hic impedit incidunt ipsam, iste magni, nesciunt nisi, nulla quas repellendus rerum veritatis voluptatem voluptatum. Ab animi consectetur consequuntur deleniti ducimus eaque error facere laboriosam laudantium minima modi neque, officia quas, quo ratione sapiente totam voluptatibus? Accusamus commodi consectetur cumque dolorem ea, eligendi esse explicabo, facere fugiat fugit minus molestias nisi quae quidem ratione sed voluptate. Blanditiis consectetur doloribus, ducimus ea eveniet incidunt, odio officia perspiciatis quidem, rem soluta ut voluptas voluptatem. Culpa delectus dicta nam quia quisquam reiciendis repellendus sed soluta ullam? Asperiores aut, debitis deleniti dicta doloribus eaque earum facere facilis illo ipsa itaque magnam maiores minima nemo odio pariatur quidem quis quo repellat sapiente tenetur velit vitae, voluptates. Aliquid aperiam blanditiis deleniti deserunt doloribus earum et eveniet maiores minima, natus numquam praesentium quaerat quas quasi qui quis repellendus saepe sint, soluta tempora. Accusamus amet dolor excepturi, quam suscipit voluptatibus? Accusamus animi dolores labore quia quod. Blanditiis ducimus eaque ex explicabo inventore laborum mollitia odio quam quas tenetur. Cumque cupiditate enim, et ex laboriosam quam reiciendis sit temporibus? Id minus optio perspiciatis provident quaerat quam, quasi quibusdam reiciendis tempora temporibus, ullam voluptatem? Ad animi, assumenda beatae cumque doloremque eaque eligendi enim expedita hic illum labore magnam molestias nostrum quae, repellat sint soluta veniam voluptatum. A amet, aspernatur dolore esse nostrum officiis pariatur quibusdam quis repellendus voluptatibus. Accusantium amet earum et necessitatibus nisi pariatur perferendis quibusdam ratione repellendus! A consequatur debitis magnam sed! A aut consequuntur dolore dolorem doloribus eveniet explicabo facere harum in ipsum iste maxime minima modi nam nisi odit officia omnis, pariatur provident qui quis quo reiciendis repellendus sint vitae! Accusantium asperiores at cupiditate doloribus ducimus enim est exercitationem explicabo hic illo magnam minus molestiae mollitia nihil numquam officiis omnis quas quasi quia quibusdam quidem quo repellat rerum sapiente suscipit totam voluptas, voluptates. Accusamus accusantium blanditiis, consequuntur culpa delectus deserunt dicta dolores doloribus eius enim eum facere facilis illum ipsam iusto nihil officiis perferendis rem sapiente sint sit tempora vel, voluptatem? Ab atque cumque cupiditate dicta, eligendi explicabo fugit illum inventore libero natus nisi nobis numquam quae quaerat quasi, quisquam, repellat sed tempora unde voluptatem. Atque doloribus error eum facilis id perferendis sint. Ad consequuntur et explicabo facilis fuga harum laborum minus saepe tempora veniam! Adipisci alias amet atque cumque dolorum eos est facere ipsam laudantium magnam nam nemo nobis non perspiciatis quos reiciendis, repellendus repudiandae sequi soluta tempora veniam voluptate voluptatem voluptates. A accusamus aliquam architecto at beatae cum dignissimos dolorem eum explicabo, facere in incidunt inventore iste iure iusto libero minus neque nobis officiis optio provident quasi quia quisquam reiciendis, repellendus rerum saepe sapiente sint sunt tempore ullam veniam vero voluptates? A, accusantium aliquam beatae blanditiis consequuntur corporis cupiditate dignissimos dolor dolores ducimus eius eveniet excepturi facere facilis hic id impedit iste molestiae mollitia nam neque officia pariatur perspiciatis quae quas quidem reiciendis sapiente sequi tempora ut vel velit voluptas voluptate. At dicta fuga fugiat, iste laborum maiores obcaecati provident ratione reiciendis repudiandae. Beatae culpa debitis est laborum laudantium non nostrum rerum suscipit. Aliquam animi culpa deleniti esse neque nobis optio, qui? Ab at autem consequuntur dicta dignissimos distinctio dolore molestiae, natus odio officiis omnis quia quo recusandae repudiandae sapiente sequi, tenetur voluptatum. Ab amet aperiam architecto aut delectus distinctio doloremque doloribus, enim est eum fugiat itaque labore minus molestias nam nemo nesciunt nihil nulla odio quae quas reiciendis rem reprehenderit repudiandae sequi similique sint unde ut vitae voluptatem? Ad adipisci eum illum impedit natus, nobis odio perferendis quaerat sit soluta. Aspernatur, id, velit? A accusamus ad, aliquid at aut debitis dignissimos dolor ducimus earum eius et facere illo iure labore libero magni maxime minima neque nesciunt nisi nobis numquam odio officia pariatur perferendis placeat possimus quasi quis ratione recusandae sint soluta totam unde velit veniam vitae voluptate. Ab aliquam at earum esse eum facere ipsam itaque, maxime nam nesciunt non officia optio reprehenderit tempora voluptate? Adipisci, aliquam assumenda culpa delectus, id, inventore ipsum iusto laboriosam minima nobis perferendis quibusdam quis quo veniam vero! Accusantium aperiam, dignissimos dolor eius illum ipsum molestiae, nisi obcaecati optio perspiciatis quaerat, quibusdam sequi tenetur? Animi aperiam est ex fuga odio, optio pariatur porro quisquam sapiente similique. Adipisci at eligendi error harum illum inventore, iste iusto laboriosam laborum maiores nemo qui repellat sunt! At consequuntur corporis deserunt magni sint temporibus vel vero? At, beatae consectetur culpa dignissimos dolorum expedita ipsam laboriosam, modi, nihil non odio omnis perspiciatis placeat quia quisquam repellat repellendus tempora ullam veniam voluptatum? Et fugit magni nobis odio vero! A ab architecto assumenda aut, debitis delectus fuga id maxime nobis numquam, quam recusandae, saepe. Accusamus commodi doloribus dolorum excepturi expedita non quas tempora ut velit. Alias, architecto aspernatur aut consequatur culpa dignissimos dolore ea earum eos, excepturi id incidunt ipsa minus natus, praesentium quibusdam quis quos sed veritatis vero? Assumenda at atque dolor dolorum ducimus eum, impedit iste minima nemo nobis provident quis repellat reprehenderit sunt tempore velit voluptatibus! Accusamus alias asperiores dignissimos dolores ea laborum minima nobis quaerat, reprehenderit sequi temporibus veniam. Consequatur consequuntur cum dicta ea error facilis, harum id inventore iure magnam mollitia nulla officiis optio quae quasi reiciendis repudiandae rerum, saepe voluptatibus voluptatum? Autem consequatur corporis, dicta doloribus ea maiores molestias, neque quaerat quod ratione repellendus totam ullam, vel. Alias esse et fugit hic iure magnam pariatur quae quam ratione sapiente! Atque cupiditate doloremque, eius fugiat itaque libero mollitia nostrum odit quis recusandae reiciendis ullam vel voluptatem. Est, fugit labore! Aperiam dolor ea eum exercitationem fugiat ipsam itaque libero molestiae molestias mollitia necessitatibus perspiciatis quaerat quia, rem sunt voluptate voluptatum. Impedit, nam, quos?

    .body_simplebar(data-simplebar  style='max-height: 100px;max-width: 200px;')
        .item(style='display: flex; flex: 0 0 80px;height: 80px;justify-items: center;align-items: center;') Lorem ipsum dolor sit amet.
        .item(style='display: flex; flex: 0 0 80px;height: 80px;justify-items: center;align-items: center;') Lorem ipsum dolor sit amet.
        .item(style='display: flex; flex: 0 0 80px;height: 80px;justify-items: center;align-items: center;') Lorem ipsum dolor sit amet.
        .item(style='display: flex; flex: 0 0 80px;height: 80px;justify-items: center;align-items: center;') Lorem ipsum dolor sit amet.

    br
    br
    hr(style='border-bottom: 1px solid #000;')
    br
    br

    //slider
    h1 slider
    .slider__swiper
        .item Lorem ipsum dolor sit amet.
        .item Lorem ipsum dolor sit amet.
        .item Lorem ipsum dolor sit amet.
        .item Lorem ipsum dolor sit amet.

    br
    br
    hr(style='border-bottom: 1px solid #000;')
    br
    br

    //_lazy
    h1 lazy
    img(alt="A lazy image" class="_lazy" data-src="img/cover.jpg")

    br
    br
    hr(style='border-bottom: 1px solid #000;')
    br
    br

    //quantity
    h1 quantity
    .quantity
        .quantity__button.quantity__button_minus
        .quantity__input
            input(value='1' data-max='15')
        .quantity__button.quantity__button_plus
    .quantity
        .quantity__button.quantity__button_minus
        .quantity__input
            input(value='1' data-max='55')
        .quantity__button.quantity__button_plus


    br
    br
    hr(style='border-bottom: 1px solid #000;')
    br
    br
    //input
    h1 input
    input.input
    br
    br
    input.input-border-red(type='date')
    br
    br
    hr(style='border-bottom: 1px solid #000;')
    br
    br
    //loading
    h1 loading
    .point-loading
        span.point
        span.point
        span.point
        span.point
        span.point
        span.point
        span.point
        span.point


    +switch-checkbox('привет 1', 'привет 2', 'rt4')
