mixin head(title)
    head
        title= title
        meta(charset='UTF-8')
        meta(name='format-detection' content='telephone=no')
        link(link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet")
        link(rel='stylesheet' href='css/style.min.css')
        link(rel='shortcut icon' href='favicon.ico')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')


mixin title(title)
    section.titlePage
        ._container
            h1.h1= title

mixin crumbs(title)
    section.crumbs
        ._container
            ul.crumbs-list
                li Spectr
                li
                    a(href="#")= title

mixin modalTypesPayment
    .serviceTypesPayment-item
        input(type='radio' name='balance' value='1' checked)
        .serviceTypesPayment-item__body
            .serviceTypesPayment-item__img
                img.lazyAll(data-src=`img/png/Stripe.webp` alt=`Баланс Sms-Activate`)
            .serviceTypesPayment-item__name Баланс Sms-Activate


mixin blueTitle(title)
    .banner-blue-btn
        .banner-blue-btn__title= title
