.spoller-proxy{

  &__grid{
    display: grid;
    grid-gap: rem(20);
  }
  &__body{
    @include adaptiveValue(padding-left, 23, 15);
    @include adaptiveValue(padding-right, 23, 15);
    @include adaptiveValue(padding-top, 8, 8);
    @include adaptiveValue(padding-bottom, 8, 8);
    background-color: $color_1;
    border-radius: rem(5);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  }
  &__title{
    @include adaptiveValue(font-size, 30,22);
    font-weight: 700;
    margin-bottom: rem(36);
    margin-top: rem(36);
  }
  &__name{
    @include adaptiveValue(font-size,24, 24);
    font-weight: 700;
    position: relative;
    cursor: pointer;
    padding: rem(8) rem(30) rem(8) 0;


    &._spoller-active{
      color: $color_7;
    }
    &._spoller-active {
      .spoller-proxy-arrow{
        &::before {
          transform: translateX(-75%) rotate(-40deg);

        }
        &::after {
          transform: rotate(40deg);

        }
      }
    }
  }
  &-filter-btns{
    overflow-x: auto;
    max-width: 100%;
    padding-bottom: rem(25);
    padding-top: rem(25);

    .simplebar-content{
      display: flex;
      width: 100%;
      gap: rem(15);
      margin-top: rem(11);

      &:before,&:after{
        display: none;
      }
    }

    .info-btn{
      &:first-child{
        border: 1px solid $color_2;
        color: $color_2;
        font-weight: 700;
      }
      border: 1px solid $color_4;
      font-weight: 400;
      font-size: rem(16);
      border-radius: rem(30);
      width: fit-content;
      white-space:nowrap;
      padding: rem(3) rem(16);
    }
  }
  &-proxy {
    position: relative;
  }
  &-arrow{
    position: absolute;
    top: rem(8);
    right: rem(0);
    width: rem(26);
    height: rem(26);
    background-color: $color_6;
    border-radius: 50%;
    z-index: 1;

    &::before,
    &::after {
      content: "";
      position: absolute;
      right: 4px;
      top: 50%;
      background-color: $color_1;
      height: 2px;
      width: 10px;
      transition: transform 0.5s ease 0s;
    }
    &::before {
      transform: translate(-75%, -50%) rotate(40deg);
    }
    &::after {
      transform: translate(0, -50%) rotate(-40deg);
    }

  }
  &-proxy__row{
    &:first-child{
      padding-top: 0 !important;
    }
  }
  &__wrapper{
    @include maq('tablet-wide') {
      padding: 0 5px;
    }
  }
}
.spollet-proxy__row{
  padding-top: rem(28);
  padding-bottom: rem(28);
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: rem(28);
  &:not(:last-child){
    border-bottom: 1px solid $color_3;

  }
}
.row__title{
  font-size: rem(20);
  font-weight: 700;
}
.row__date{
  font-size: rem(14);
  font-weight: 700;

  &.green{
    color:$color_8;
  }
  &.grey{
    color:$color_4;
  }

}
.row__region{
  grid-column: span 2;
  display: flex;
  gap: rem(10);
  align-items: center;
}
.row__line{
  grid-column: span 2;
  display: flex;
  gap: rem(20);
  flex-wrap: wrap;

  @include mq('tablet-wide') {
    align-items: center;
  }
  @include maq('tablet-wide') {
    flex-direction: column;

  }
  g{
    color:$color_8;
  }
  l{
    color:$color_4;
  }

  span{
    display: flex;
    gap: rem(5);
    align-items: center;
  }
}
.row__btns{
  grid-column: span 2;
  display: flex;
  gap: rem(20);
  align-items: center;
}


.proxy-column{
  &__grid{
    background-color: $color_1;
    padding: rem(25);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
  }
  .info{
    overflow-x: auto;
    max-width: 100%;
    padding-bottom: rem(25);

    .simplebar-content{
      display: flex;
      width: 100%;
      gap: rem(15);
      margin-top: rem(11);

      &:before,&:after{
        display: none;
      }
    }

    .info-btn{
      &:first-child{
        border: 1px solid $color_2;
        color: $color_2;
        font-weight: 700;
      }
      border: 1px solid $color_4;
      font-weight: 400;
      font-size: rem(16);
      border-radius: rem(30);
      width: fit-content;
      white-space:nowrap;
      padding: rem(3) rem(16);
    }
  }
  &__top{
    display: grid;
    margin-bottom: rem(20);
    margin-top: rem(20);
    @include mq('tablet-wide') {
      grid-gap: rem(30);
      grid-template-columns: 1fr 180px;
    }
  }
  .select_border-green{
    .select__value {
      justify-content: flex-end;
    }
  }
}
