section.spoller-proxy.spoller-proxy-profile
    .spoller-proxy__grid
        .spoller-proxy__body(data-spollers data-one-spoller)
            .spoller-proxy__name(data-spoller) Мобильные прокси <span class="spoller-proxy-arrow"></span>
            .spoller-proxy__wrapper
                .spoller-proxy__top
                    h5 Смена пароля
                    br
                    p Ваш аккаунт не защищен! В целях безопасности и сохранности ваших средств мы рекомендуем менять пароль каждые полгода. А также не использовать одинаковые пароли на разных сайтах
                    br
                    br
                    button.button-o Сменить пароль

                .spoller-proxy__bottom
                    h5
                        span Двухфакторная аутентификация
                        label.checkbox-ios
                            input(type='checkbox')
                            span.checkbox-ios-switch
                    br
                    p Ваш аккаунт не защищен! Без двухфакторной аутентификации (2FA) вы подвергаетесь повышенному риску кражи средств и несанкционированного изменения настроек пароля и шифрования электронной почты.
                    br
                    br
                    br




        .spoller-proxy__body(data-spollers data-one-spoller)
            .spoller-proxy__name(data-spoller) Мобильные прокси <span class="spoller-proxy-arrow"></span>
            .spoller-proxy__wrapper
                .spoller-proxy__top
                    h5
                        span Смена пароля
                        label.checkbox-ios
                            input(type='checkbox')
                            span.checkbox-ios-switch
                    br
                    p Ваш аккаунт не защищен! В целях безопасности и сохранности ваших средств мы рекомендуем менять пароль каждые полгода. А также не использовать одинаковые пароли на разных сайтах
                    br
                    br
                    button.button-o Сменить пароль

                .spoller-proxy__bottom
                    h5 Двухфакторная аутентификация
                    br
                    p Ваш аккаунт не защищен! Без двухфакторной аутентификации (2FA) вы подвергаетесь повышенному риску кражи средств и несанкционированного изменения настроек пароля и шифрования электронной почты.






