.page-grid{
  display: grid;

  @include mq('desktop') {
    grid-template-columns: 300px 1fr;
  }
  .__container-lk{
    padding: 0 rem(15);
    @include mq('tablet-wide') {
      padding: 0 rem(32);
      max-width: 1500px;
    }
  }
}
