section.first
    .first__container.custon
        .first__content
            h1.offer Будь незаметен в сети вместе с прокси
            p <span>Быстрые, качественные, безлимитные</span> <br> Огромный пул IP и ГЕО
            ul
                li <b>Анонимность</b> <br> Сĸрывают реальный <br>IP-адрес
                li <b>Поддержĸа</b> <br> ответит на все ваши <br> вопросы 24/7
                li <b>Трафиĸ</b> <br>  Безлимитный и очень <br> быстрый


            .first__btns(data-da=".first__content,600,2")
                button.button-o.popup-link( data-popup="#popup") Купить

