section.rate
    .rate__bg
    .rate__container
        h2 Тарифы
        .tabs(data-tabs data-tabs-animate)
            .tabs__navigation(data-tabs-titles)
                button(data-tabs-title='1').tabs__title._tab-active  Мобильные прокси
                button(data-tabs-title='2').tabs__title  Резедентские прокси
                button(data-tabs-title='3').tabs__title  Cерверные прокси

            .tabs__content(data-tabs-body)
                .main-tab__body(data-tabs-item="1")
                    .rate__grid
                        p <b>Пакет мобильных прокси с безлимитным трафиком.</b> Выбор необходимого подключения из стран СНГ, фильтрацияпо мобильному оператору. <br> <br> <b>Идеально подходит</b> для работы с социальными сетями, досками объявлений, рекламными сетями.
                        .rate-slider-body
                            .rate-slider.swiper
                                .swiper-wrapper
                                    .rate-slide.swiper-slide
                                        .rate-slide__title Приватные <br> по сервисам
                                        .rate-slide__content
                                            h4 150р <br> <span>день</span>
                                            ul
                                                li Доступ ĸ выбранному сервису
                                                li Ротация ĸаждые 5 минут
                                                li Большой стеĸ Гео

                                        .rate-slide__btn
                                            .button-w.popup-link(data-popup="#popup") Купить


                                    .rate-slide.swiper-slide
                                        .rate-slide__title Приватные <br> по сервисам
                                        .rate-slide__content
                                            h4 150р <br> <span>день</span>
                                            ul
                                                li Доступ ĸ выбранному сервису
                                                li Ротация ĸаждые 5 минут
                                                li Большой стеĸ Гео

                                        .rate-slide__btn
                                            .button-w.popup-link(data-popup="#popup") Купить


                                    .rate-slide.swiper-slide
                                        .rate-slide__title Приватные <br> по сервисам
                                        .rate-slide__content
                                            h4 150р <br> <span>день</span>
                                            ul
                                                li Доступ ĸ выбранному сервису
                                                li Ротация ĸаждые 5 минут
                                                li Большой стеĸ Гео

                                        .rate-slide__btn
                                            .button-w.popup-link(data-popup="#popup") Купить




                                .rate-slider-swiper__pagination


                .main-tab__body(data-tabs-item="2")
                    .rate__grid
                        p Пакет мобильных прокси с безлимитным трафиком. Выбор необходимого подключения из стран СНГ, фильтрацияпо мобильному оператору. <br> Идеально подходит для работы с социальными сетями, досками объявлений, рекламными сетями.
                        .rate-slider-body
                            .rate-slider.swiper
                                .swiper-wrapper
                                    .rate-slide.swiper-slide
                                        .rate-slide__title Приватные <br> по сервисам
                                        .rate-slide__content
                                            h4 150р <br> <span>день</span>
                                            ul
                                                li Доступ ĸ выбранному сервису
                                                li Ротация ĸаждые 5 минут
                                                li Большой стеĸ Гео

                                        .rate-slide__btn
                                            .button-w.popup-link(data-popup="#popup") Купить


                                    .rate-slide.swiper-slide
                                        .rate-slide__title Приватные <br> по сервисам
                                        .rate-slide__content
                                            h4 150р <br> <span>день</span>
                                            ul
                                                li Доступ ĸ выбранному сервису
                                                li Ротация ĸаждые 5 минут
                                                li Большой стеĸ Гео

                                        .rate-slide__btn
                                            .button-w.popup-link(data-popup="#popup") Купить


                                    .rate-slide.swiper-slide
                                        .rate-slide__title Приватные <br> по сервисам
                                        .rate-slide__content
                                            h4 150р <br> <span>день</span>
                                            ul
                                                li Доступ ĸ выбранному сервису
                                                li Ротация ĸаждые 5 минут
                                                li Большой стеĸ Гео

                                        .rate-slide__btn
                                            .button-w.popup-link(data-popup="#popup") Купить




                                .rate-slider-swiper__pagination



                .main-tab__body(data-tabs-item="3")
                    .rate__grid
                        p Пакет мобильных прокси с безлимитным трафиком. Выбор необходимого подключения из стран СНГ, фильтрацияпо мобильному оператору. <br> Идеально подходит для работы с социальными сетями, досками объявлений, рекламными сетями.
                        .rate-slider-body
                            .rate-slider.swiper
                                .swiper-wrapper
                                    .rate-slide.swiper-slide
                                        .rate-slide__title Приватные <br> по сервисам
                                        .rate-slide__content
                                            h4 150р <br> <span>день</span>
                                            ul
                                                li Доступ ĸ выбранному сервису
                                                li Ротация ĸаждые 5 минут
                                                li Большой стеĸ Гео

                                        .rate-slide__btn
                                            .button-w.popup-link(data-popup="#popup") Купить


                                    .rate-slide.swiper-slide
                                        .rate-slide__title Приватные <br> по сервисам
                                        .rate-slide__content
                                            h4 150р <br> <span>день</span>
                                            ul
                                                li Доступ ĸ выбранному сервису
                                                li Ротация ĸаждые 5 минут
                                                li Большой стеĸ Гео

                                        .rate-slide__btn
                                            .button-w.popup-link(data-popup="#popup") Купить


                                    .rate-slide.swiper-slide
                                        .rate-slide__title Приватные <br> по сервисам
                                        .rate-slide__content
                                            h4 150р <br> <span>день</span>
                                            ul
                                                li Доступ ĸ выбранному сервису
                                                li Ротация ĸаждые 5 минут
                                                li Большой стеĸ Гео

                                        .rate-slide__btn
                                            .button-w.popup-link(data-popup="#popup") Купить




                                .rate-slider-swiper__pagination








