section.tab-sec#tab
    .tab-sec__container
        h2.tab-sec__title КАК <span>ЭТО РАБОТАЕТ</span>?
        .swiper.preview.mySwiper
            .swiper-wrapper
                .swiper-slide
                    .preview-box 1
                .swiper-slide
                    .preview-svg
                        svg(width='205', height='52', viewbox='0 0 311 52', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M1 37.5872C25.2484 13.1833 85.5801 -23.6077 132.92 24.4596C180.26 72.5268 270.698 44.4876 310 24.4596', stroke='#4C4C4C', stroke-width='2', stroke-linecap='round', stroke-dasharray='12 12')

                    .preview-box 2
                .swiper-slide
                    .preview-svg
                        svg(width='200', height='76', viewbox='0 0 310 76', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M308.842 50.3663C280.956 70.5129 215.454 97.0284 176.54 41.9177C137.625 -13.1931 43.8362 -0.197753 1.80593 13.1888', stroke='#4C4C4C', stroke-width='2', stroke-linecap='round', stroke-dasharray='12 12')

                    .preview-box 3


        .swiper.big.mySwiper2(thumbsSlider="")
            .swiper-wrapper
                .swiper-slide
                    p Мы поможем тебе собрать мобильную ферму размером не больше домашнего ПК. Она требует только наличия сотовой связи и проводного интернета.
                    .big__img
                        img(src='img/svg/slider2.svg')
                .swiper-slide
                    p Мы подключим тебя к сервису Proxy SMS-Activate в качестве агента, все самостоятельно настроим и запустим.
                    .big__img
                        img(src='img/svg/slider3.svg')
                .swiper-slide
                    p Ты только следишь за балансом на сим-картах, а <span>мы - за тем, чтобы ты своевременно</span> получал доход.
                    .big__img
                        img(src='img/svg/slider.svg')

            .big__nav
                .big-nav__prevEl « Назад
                .big-nav__nextEl Далее »
