body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
}

body.popup-show::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  padding: 30px 10px;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup_show {
  visibility: visible;
  overflow: auto;
}

.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
}

.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;

  .lock & {
    visibility: visible;
  }
}


.partners {
  background: #00000073;

  .popup__close{
    position: absolute;
    top: 20px;
    right: 20px;
  }

  &-content {
    padding: 45px 20px;
    max-width: 410px;
    background: #FFFFFF;
    border: 1px solid $color_7;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 33px;
  }

  &__title {
    font-weight: 700;
    @include adaptiveValue(font-size, 18, 16);
    text-transform: uppercase;
    color: $color_7;
    text-align: center;
    margin-bottom: 10px;
  }

  &__description {
    font-style: italic;
    @include adaptiveValue(font-size, 16, 14);
    color: #414042;
    text-align: center;
    margin-bottom: 30px;
  }

  &__form {
    display: grid;
    grid-gap: 30px;

    .wr{
      display: grid;
      grid-gap: 5px;
    }

    label {
      font-weight: 600;
      color: $color_7;
      @include adaptiveValue(font-size, 14, 14);
    }

    input {
      border: 1px solid #414042;
      padding: 15px 20px;
    }

    .partners__btn {
      height: 50px;
      margin-top: 30px;
    }
  }
}
