include pug/mixins
doctype html
html(lang="ru")
    +head('Главная')
    body
        .wrapper.page-grid
            include pug/LK-main/aside
            main.page.lk-page
                include pug/LK-main/header
                .__container-lk
                    +blueTitle("Ваша реферальная статистика")
                    include pug/LK-ref-link/text
                    include pug/LK-ref-link/ref-balance
                    include pug/LK-ref-link/statistics
                    include pug/LK-ref-link/statistics
                    include pug/LK-ref-link/statistics



        include pug/_basic/_popup
        include pug/_basic/_js
