.banner-swipe-body
    .banner-swiper.swiper
        .swiper-wrapper
            .swiper-slide.banner-slide
                .banner-slide-ibg
                    picture
                        source(srcset="img/png/banner-big.webp" media="(min-width: 1041px)" type="image/webp")
                        source(srcset="img/png/banner-big.png" media="(min-width: 1041px)" type="image/png")
                        source(srcset="img/png/banner-mob.webp" media="(max-width: 1040.99px)" type="image/webp")
                        source(srcset="img/png/banner-mob.png" media="(max-width: 1040.99px)" type="image/png")
                        img.lazyAll(src='img/png/banner-big.png' alt='')
                h3 Мобильные <br> прокси
                p Быстрые, качественные, безлимитные

            .swiper-slide.banner-slide
                .banner-slide-ibg
                    picture
                        source(srcset="img/png/banner-big.webp" media="(min-width: 1041px)" type="image/webp")
                        source(srcset="img/png/banner-big.png" media="(min-width: 1041px)" type="image/png")
                        source(srcset="img/png/banner-mob.webp" media="(max-width: 1040.99px)" type="image/webp")
                        source(srcset="img/png/banner-mob.png" media="(max-width: 1040.99px)" type="image/png")
                        img.lazyAll(src='img/png/banner-big.png' alt='')
                h3 Мобильные <br> прокси
                p Быстрые, качественные, безлимитные

            .swiper-slide.banner-slide
                .banner-slide-ibg
                    picture
                        source(srcset="img/png/banner-big.webp" media="(min-width: 1041px)" type="image/webp")
                        source(srcset="img/png/banner-big.png" media="(min-width: 1041px)" type="image/png")
                        source(srcset="img/png/banner-mob.webp" media="(max-width: 1040.99px)" type="image/webp")
                        source(srcset="img/png/banner-mob.png" media="(max-width: 1040.99px)" type="image/png")
                        img.lazyAll(src='img/png/banner-big.png' alt='')
                h3 Мобильные <br> прокси
                p Быстрые, качественные, безлимитные

        .banner-pagination
