.notifications
    .notifications__title Уведомления <span class='number'>14</span>
    ul.notifications__list
        li
            a(href="#")
                svg(width='24', height='24', viewbox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M16 7.5V21.5H5C3.9 21.5 3 20.6 3 19.5V7.5H16Z', fill='#2F356D')
                    path(d='M7 2.5V19.5C7 20.6 6.1 21.5 5 21.5H19.5C20.6 21.5 21.5 20.6 21.5 19.5V2.5H7Z', fill='#BCBEFF')
                    path(d='M10 5H19V7H10V5ZM10 8.5H14V9.5H10V8.5ZM15 8.5H19V9.5H15V8.5ZM10 10.5H14V11.5H10V10.5ZM15 10.5H19V11.5H15V10.5ZM10 12.5H14V13.5H10V12.5ZM15 12.5H19V13.5H15V12.5ZM10 14.5H14V15.5H10V14.5ZM15 14.5H19V15.5H15V14.5ZM10 16.5H14V17.5H10V16.5ZM15 16.5H19V17.5H15V16.5ZM10 18.5H14V19.5H10V18.5ZM15 18.5H19V19.5H15V18.5Z', fill='#2F356D')

                span Уроки английского в компании: to be or not to be?
        li
            a(href="#")
                svg(width='24', height='24', viewbox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M16 7.5V21.5H5C3.9 21.5 3 20.6 3 19.5V7.5H16Z', fill='#2F356D')
                    path(d='M7 2.5V19.5C7 20.6 6.1 21.5 5 21.5H19.5C20.6 21.5 21.5 20.6 21.5 19.5V2.5H7Z', fill='#BCBEFF')
                    path(d='M10 5H19V7H10V5ZM10 8.5H14V9.5H10V8.5ZM15 8.5H19V9.5H15V8.5ZM10 10.5H14V11.5H10V10.5ZM15 10.5H19V11.5H15V10.5ZM10 12.5H14V13.5H10V12.5ZM15 12.5H19V13.5H15V12.5ZM10 14.5H14V15.5H10V14.5ZM15 14.5H19V15.5H15V14.5ZM10 16.5H14V17.5H10V16.5ZM15 16.5H19V17.5H15V16.5ZM10 18.5H14V19.5H10V18.5ZM15 18.5H19V19.5H15V18.5Z', fill='#2F356D')

                span Если греки едут через реку все ли они видят Рака?
        li
            a(href="#")
                svg(width='20', height='12', viewbox='0 0 20 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M19.8975 10.6872L17.6108 5.90606L19.8742 1.31995C19.9279 1.21066 19.9572 1.08566 19.9591 0.957735C19.9611 0.829811 19.9355 0.703554 19.885 0.591882C19.8346 0.480211 19.7611 0.387134 19.6721 0.322173C19.583 0.257212 19.4817 0.2227 19.3783 0.222168H1.16667C0.857247 0.222168 0.560501 0.37435 0.341709 0.645236C0.122916 0.916122 0 1.28352 0 1.66661L0 10.3333C0 10.7164 0.122916 11.0838 0.341709 11.3547C0.560501 11.6255 0.857247 11.7777 1.16667 11.7777H19.3958C19.4988 11.7777 19.5999 11.7439 19.6889 11.6799C19.7779 11.6158 19.8517 11.5237 19.9026 11.4129C19.9536 11.3022 19.9799 11.1767 19.979 11.0492C19.9781 10.9217 19.95 10.7968 19.8975 10.6872ZM6.13083 8.29661H5.4775L3.57583 5.16217V8.30383H2.91667V3.83328H3.57583L5.48333 6.97495V3.83328H6.13667L6.13083 8.29661ZM9.82333 4.5555H7.76417V5.63161H9.63083V6.35383H7.76417V7.51661H9.82333V8.23883H7.105V3.83328H9.8175L9.82333 4.5555ZM14.6592 8.28217H14L13.0958 4.96717L12.1917 8.29661H11.5383L10.3717 3.83328H11.0833L11.8533 7.03272L12.74 3.83328H13.4517L14.3033 7.03272L15.0792 3.83328H15.7967L14.6592 8.28217Z', fill='#EA5400')

                span Новые прокси! только сегодня и только сейчас!
        li
            a(href="#")
                svg(width='24', height='24', viewbox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M16 7.5V21.5H5C3.9 21.5 3 20.6 3 19.5V7.5H16Z', fill='#2F356D')
                    path(d='M7 2.5V19.5C7 20.6 6.1 21.5 5 21.5H19.5C20.6 21.5 21.5 20.6 21.5 19.5V2.5H7Z', fill='#BCBEFF')
                    path(d='M10 5H19V7H10V5ZM10 8.5H14V9.5H10V8.5ZM15 8.5H19V9.5H15V8.5ZM10 10.5H14V11.5H10V10.5ZM15 10.5H19V11.5H15V10.5ZM10 12.5H14V13.5H10V12.5ZM15 12.5H19V13.5H15V12.5ZM10 14.5H14V15.5H10V14.5ZM15 14.5H19V15.5H15V14.5ZM10 16.5H14V17.5H10V16.5ZM15 16.5H19V17.5H15V16.5ZM10 18.5H14V19.5H10V18.5ZM15 18.5H19V19.5H15V18.5Z', fill='#2F356D')

                span Написание заголовков, как новый вид дизайна


