.slider-type-proxy__body
    .slider-type-proxy__swiper.swiper
        .swiper-wrapper
            .swiper-slide.slider-type-proxy-slide
                h4 Резидентские прокси
                ul
                    li Постоянное обновление списков прокси
                    li Резидентские IP-адреса
                    li Поддержка всех протоколов
                button.button-b Подключить услугу


            .swiper-slide.slider-type-proxy-slide.pro
                h4 Резидентские прокси
                ul
                    li Постоянное обновление списков прокси
                    li Резидентские IP-адреса
                    li Поддержка всех протоколов
                button.button-b Подключить услугу


            .swiper-slide.slider-type-proxy-slide
                h4 Резидентские прокси
                ul
                    li Постоянное обновление списков прокси
                    li Резидентские IP-адреса
                    li Поддержка всех протоколов
                button.button-b Подключить услугу


        .slider-type-proxy-pagination
