.settings-wr__body
    .settings-wr.mb-25
        .settings-wr__top
            .settings-wr__name Ваша реферальная ссылка
        .settings-wr__bottom
            .settings-wr__price http://localhost/ref/1858958
            .settings-wr__btn
                button.button-o Скопировать ссылку

    .settings-wr.mb-25
        .settings-wr__top
            .settings-wr__name Ваш реферальный баланс
        .settings-wr__bottom
            .settings-wr__price 500 000.00 ₽
            .settings-wr__btn
                button.button-o Подать заявку на вывод

