.settings-wr.mb-25
    .settings-wr__top
        .settings-wr__name Ваш реферальный баланс

    .settings-wr__bottom
        .settings-wr__price <b>500 000.00</b> ₽
        .settings-wr__btn
            button.button-o Подать заявку на вывод

