.statistics
    .statistics__top
        .statistics__search
            input.input2(placeholder="Поиск")
            button
                svg(width='15', height='15', viewbox='0 0 15 15', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(fill-rule='evenodd', clip-rule='evenodd', d='M0 5.74944C0 8.92286 2.57616 11.499 5.74958 11.499C8.923 11.499 11.4992 8.92286 11.4992 5.74944C11.4992 2.57602 8.923 -0.000141982 5.74958 -0.000141982C2.57616 -0.000141982 0 2.57602 0 5.74944ZM5.74958 9.65486C3.59467 9.65486 1.84417 7.90435 1.84417 5.74944C1.84417 3.59453 3.59467 1.84402 5.74958 1.84402C7.9045 1.84402 9.655 3.59453 9.655 5.74944C9.655 7.90435 7.9045 9.65486 5.74958 9.65486Z', fill='#EA5400')
                    path(fill-rule='evenodd', clip-rule='evenodd', d='M14.6971 14.7298C15.0572 14.3697 15.0571 13.7859 14.6969 13.4258L10.0628 8.7929C9.70263 8.43285 9.1188 8.43293 8.75875 8.79308C8.39871 9.15322 8.39878 9.73705 8.75893 10.0971L13.3931 14.73C13.7532 15.0901 14.3371 15.09 14.6971 14.7298Z', fill='#EA5400')
                    path(fill-rule='evenodd', clip-rule='evenodd', d='M3.37322 5.91696C3.53418 5.91927 3.66652 5.79066 3.66882 5.62971C3.67847 4.95609 3.86793 4.50195 4.17743 4.20124C4.49128 3.8963 4.96897 3.70963 5.63216 3.65691C5.79262 3.64415 5.91236 3.50373 5.8996 3.34327C5.88685 3.18281 5.74643 3.06307 5.58596 3.07582C4.84457 3.13477 4.21685 3.35019 3.77122 3.78316C3.32124 4.22037 3.09716 4.83998 3.08597 5.62136C3.08366 5.78231 3.21227 5.91466 3.37322 5.91696Z', fill='#EA5400')

        .statistics__select
            select.border-green
                option По возростанию
                option По рейтингу
                option(selected) По убыванию


    .statistics__table.statistics-table
        .statistics-table__title Статистика по реферальной ссылке
        .statistics-table__grid
            .statistics-table__row
                b ID привлеченного
                b Активаций
                b Сумма отчислений
                b Статус
                b Дата
            .statistics-table__row
                span 12345678
                span 1
                span 12 3456
                span выплачено
                span 12.01.2022
            .statistics-table__row
                span 12345678
                span 1
                span 12 3456
                span выплачено
                span 12.01.2022
            .statistics-table__row
                span 12345678
                span 1
                span 12 3456
                span выплачено
                span 12.01.2022
            .statistics-table__row
                span 12345678
                span 1
                span 12 3456
                span выплачено
                span 12.01.2022
