.text-ref
    h5 Получайте деньги за привлеченных Вами пользователей!
    p За каждого активного пользователя Вы будете получать 5% его трат, до 300 рублей!
    p Каждый зарегистрированный по вашей ссылке будет получать 20% кэшбэк на сумму до 50 рублей.
    br
    a(href="#") Подробные условия партнерской программы
