.blog{
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 30px;

  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    @include mq('tablet-wide') {
      display: none;
    }
  }
  &__search{
    display: grid;
    grid-template-columns: 1fr 20px;
    grid-gap: 10px;
    border-bottom: 1px solid #C4C4C4;
    input{
      border: none;
      font-size: 14px;
      &::placeholder{
        color: #727272;
      }
    }
  }

  &__body{
    padding: 0 0 30px;
  }
  &-element{
    &.hide{
      display: none;
    }

    padding: 20px 0 ;
    &:not(:last-child){
      border-bottom: 1px solid #DCDCE4;
    }

    &-top{
      display: flex;
      gap: 5px;
      align-items: center;

      &__name{
        padding-right: 5px;
        color: #727272;
        font-weight: 700;
      }
      &__name.blog-element-top__name-orang{

      }
      &__el{
        background-color: #C4C4C4;
        border-radius: 20px;
        color: #fff;
        padding: 2px 8px;
      }
      &__el.blog-element-top__el-orang{
        background-color: #EA5400;
        border-radius: 20px;
      }
    }

    &-main{
      margin-top: 10px;
      color: #333333;
      display: grid;
      grid-gap: 10px 20px;
      grid-template-columns:  1fr;
      @include mq('tablet-wide') {
        grid-template-columns: 180px 1fr;
      }

      &__img-ibg{
        grid-row: span 3;
        min-height: 120px;
      }
      &__title{
        font-weight: 700;
        text-transform: uppercase;
      }
      &__link{
        color: #EA5400;
        font-weight: 700;
        font-size: 14px;
        text-decoration: underline;
      }
    }
  }
  &-pagenation{
    display: flex;
    gap: 10px;
    justify-content: center;

    a{
      color: #EA5400;
      font-weight: 700;
      padding: 0 5px;
      &:hover{
        color: #333333;
      }
    }
    .blog-pagenatio__nbtn-prev,.blog-pagenation__btn-next,.blog-pagenation__list{
      @include maq('tablet-wide') {
        display: none;
      }
    }
    &__list{
      display: flex;
      gap: 5px;

      li.active{
        a{
          color: #333333;
        }
      }
    }
    .blog-pagenation__btn-more{
      @include mq('tablet-wide') {
        display: none;
      }
    }
  }
}

